---
filter: haml
---
- menu = [ { :href => 'documentation.html', :text => 'Overview' }, |
  { :href => "api.html" , :text => 'REST API' }, |
  { :href => "client-ruby.html" , :text => 'Ruby Client' }, |
  { :href => "drivers.html" , :text => 'Drivers' }, |
  { :href => "framework.html" , :text => 'Framework' } ] |

#subnavigation
  #submenu.container
    %ul.l1
      - menu.each do |link|
        %li
          - state = (link[:href] == current_page) ? 'active' : 'inactive'
          %a{:class => state, :href => link[:href]}
            = link[:text]
