---
title: Deltacloud - Download
extension: html
filter: haml
---
%h1
  Download
%p
  The latest released versions of the source code can be found
  %a{ :href => "https://fedorahosted.org/released/deltacloud/" }
    here
  \. Getting started docs are provided in the READMEs in the
  %a{ :href => "http://git.fedorahosted.org/git/?p=deltacloud/framework.git;a=blob_plain;f=README;hb=HEAD" }
    framework
  and
  %a{ :href => "http://git.fedorahosted.org/git/?p=deltacloud/portal.git;a=blob_plain;f=README;hb=HEAD" }
    portal
  projects.
%p
  As soon as possible, we will have everything packaged up for fedora, but in the meantime, we have an rpm already built for the portal, which can be found
  %a{ :href => "https://fedorahosted.org/released/deltacloud/deltacloud-portal-0.0.1-1.fc11.noarch.rpm" }
    here
