---
title: Deltacloud | Many Clouds. One API. No Problem.
extension: html
filter: haml
---
#frontpage
  %p
    Start an instance on an internal cloud, then with the same code start another on EC2 or
    Rackspace. Deltacloud protects your apps from cloud API changes and
    incompatibilities, so you can concentrate on managing cloud instances
    the way you want.
  .colleft
    %p
      %em
        Deltacloud
      gives you:
    %ul
      %li
        REST API (simple, any-platform access)
      %li
        Support for EC2, RHEV-M, RackSpace; VMWare ESX and more coming soon
      %li
        Backward compatibility across versions, providing long-term stability for scripts, tools and applications
  .colright
    %p
      One level up,
      %em
        Deltacloud Portal
      provides a web UI in front of the
      Deltacloud API. With Deltacloud Portal, your users can:
    %ul
      %li
        View image status and stats across clouds, all in one place
      %li
        Migrate instances from one cloud to another
      %li
        Manage images locally and provision them on any cloud
  %p
    %img{ :src => "styles/diagram-soa.png", :height => "265", :alt => "diagram-soa", :width => "620", :style => "margin-bottom:1em;" }
  %p
    Deltacloud API and Portal are free and open source (LGPL, GPL). The
    %a{ :href => "documentation.html" }
      Deltacloud Framework
    makes it easy for cloud
    providers to add their cloud to the Deltacloud common API.
#news
  .recent
    %h2
      News
    %ul
      %li
        Deltacloud
        %a{ :href => "http://press.redhat.com/2009/09/03/introducing-deltacloud/" }
          announced
        at 2009 Red Hat Summit!
  %br
  %br
  .section.video{ :style => "margin-top:16px;" }
    %p
      %a#dcloud_popup_link.vid{ :href => "#vid1" }
        %img.video{ :src => "video/DCloud300.png", :height => "224", :alt => "Deltacloud", :width => "298" }
      %a{ :href => "http://www.redhat.com/v/ogg/DCloud.ogg" }
        Ogg format
      |
      %a#new_dcloud{ :href => "dcloud.html" }
        New window
  .section.video
    %p
      %a#demo_popup_link.vid{ :href => "#vid2" }
        %img.video{ :src => "video/DCloud_Demo300.png", :height => "224", :alt => "DCloud_Demo300", :width => "298" }
      %a{ :href => "http://www.redhat.com/v/ogg/DCloud_Demo.ogg" }
        Ogg format
      |
      %a#new_demo{ :href => "dcloud-demo.html" }
        New window
  %p{ :style => "font-size:11px; font-style:italic" }
    Note: If you have trouble viewing the videos, try the new window link.
#vid1{ :style => "display:none;" }
  %object#FLVPlayer{ :height => "300", :classid => "clsid:D27CDB6E-AE6D-11cf-96B8-444553540000", :width => "400" }
    %param{ :name => "movie", :value => "FLVPlayer_Progressive.swf" }
    %param{ :name => "quality", :value => "high" }
    %param{ :name => "wmode", :value => "opaque" }
    /
      <param name="scale" value="noscale">
    %param{ :name => "salign", :value => "lt" }
    %param{ :name => "FlashVars", :value => "&amp;MM_ComponentVersion=1&amp;skinName=Clear_Skin_1&amp;streamName=video/DCloud&amp;autoPlay=true&amp;autoRewind=false" }
    %param{ :name => "swfversion", :value => "8,0,0,0" }
    /
      This param tag prompts users with Flash Player 6.0 r65 and higher to download the latest version of Flash Player. Delete it if you don’t want users to see the prompt.
    %param{ :name => "expressinstall", :value => "Scripts/expressInstall.swf" }
    /
      Next object tag is for non-IE browsers. So hide it from IE using IECC.
    /
      [if !IE]>
    %object{ :type => "application/x-shockwave-flash", :height => "300", :data => "FLVPlayer_Progressive.swf", :width => "400" }
      /
        <![endif]
      %param{ :name => "quality", :value => "high" }
      %param{ :name => "wmode", :value => "opaque" }
      %param{ :name => "scale", :value => "noscale" }
      %param{ :name => "salign", :value => "lt" }
      %param{ :name => "FlashVars", :value => "&amp;MM_ComponentVersion=1&amp;skinName=Clear_Skin_1&amp;streamName=video/DCloud&amp;autoPlay=true&amp;autoRewind=false" }
      %param{ :name => "swfversion", :value => "8,0,0,0" }
      %param{ :name => "expressinstall", :value => "Scripts/expressInstall.swf" }
      /
        The browser displays the following alternative content for users with Flash Player 6.0 and older.
      %div
        %h4
          Content on this page requires a newer version of Adobe Flash Player.
        %p
          %a{ :href => "http://www.adobe.com/go/getflashplayer" }
            %img{ :src => "http://www.adobe.com/images/shared/download_buttons/get_flash_player.gif", :alt => "Get Adobe Flash player" }
      /
        [if !IE]>
    /
      <![endif]
#vid2{ :style => "display:none;" }
  %object#FLVPlayer1{ :height => "300", :classid => "clsid:D27CDB6E-AE6D-11cf-96B8-444553540000", :width => "400" }
    %param{ :name => "movie", :value => "FLVPlayer_Progressive.swf" }
    %param{ :name => "quality", :value => "high" }
    %param{ :name => "wmode", :value => "opaque" }
    %param{ :name => "scale", :value => "noscale" }
    %param{ :name => "salign", :value => "lt" }
    %param{ :name => "FlashVars", :value => "&amp;MM_ComponentVersion=1&amp;skinName=Clear_Skin_1&amp;streamName=video/DCloud_Demo&amp;autoPlay=true&amp;autoRewind=false" }
    %param{ :name => "swfversion", :value => "8,0,0,0" }
    /
      This param tag prompts users with Flash Player 6.0 r65 and higher to download the latest version of Flash Player. Delete it if you don’t want users to see the prompt.
    %param{ :name => "expressinstall", :value => "Scripts/expressInstall.swf" }
    /
      Next object tag is for non-IE browsers. So hide it from IE using IECC.
    /
      [if !IE]>
    %object{ :type => "application/x-shockwave-flash", :height => "300", :data => "FLVPlayer_Progressive.swf", :width => "400" }
      /
        <![endif]
      %param{ :name => "quality", :value => "high" }
      %param{ :name => "wmode", :value => "opaque" }
      %param{ :name => "scale", :value => "noscale" }
      %param{ :name => "salign", :value => "lt" }
      %param{ :name => "FlashVars", :value => "&amp;MM_ComponentVersion=1&amp;skinName=Clear_Skin_1&amp;streamName=video/DCloud_Demo&amp;autoPlay=true&amp;autoRewind=false" }
      %param{ :name => "swfversion", :value => "8,0,0,0" }
      %param{ :name => "expressinstall", :value => "Scripts/expressInstall.swf" }
      /
        The browser displays the following alternative content for users with Flash Player 6.0 and older.
      %div
        %h4
          Content on this page requires a newer version of Adobe Flash Player.
        %p
          %a{ :href => "http://www.adobe.com/go/getflashplayer" }
            %img{ :src => "http://www.adobe.com/images/shared/download_buttons/get_flash_player.gif", :alt => "Get Adobe Flash player" }
      /
        [if !IE]>
    /
      <![endif]
