---
title: Deltacloud - Tools
extension: html
filter:
  - erb
  - haml
---
%h1
  Tools
%ul
  %li
    %h2
      %a{ :href => "./download.html" }
        Deltacloud Portal
    %p
      Give your users a self-service window into your company's internal
      and external clouds. Deltacloud Portal provides a user-friendly,
      cross-platform UI in front of the Deltacloud API. With Deltacloud
      Portal, your users can manage instances, keep track of available
      images, migrate workloads from internal to external clouds, and
      monitor their own cloud resource usage.
  %li
    %h2
      %a{ :href => "./download.html" }
        Deltacloud Proxy
    %p
      If you want to build your own cloud UI, Deltacloud Proxy gets you
      halfway there. Deltacloud Proxy tracks your external and internal
      cloud accounts and manages user authorization and resource limits;
      your custom user interface does the rest.
  %li
    %h2
      Your name here
    %p
      Do you have a tool to make Deltacloud more useful? Let us know at
      %a{ :href => "https://fedorahosted.org/mailman/listinfo/deltacloud-devel" }
        https://fedorahosted.org/mailman/listinfo/deltacloud-devel
      and we'll post it here!
