---
title: Aeolus | Set up EC2
breadcrumb_name: Set up EC2
extension: html
filter: haml
---
%h1 Configuring for Amazon EC2

%p
  On this page you'll configure Aeolus to use Amazon EC2.  You'll need to
  have an existing account for EC2 with Amazon AWS.

.page-listing
  %h3 Getting Started Guide

  %ol
    %li
      %a{ :href => "basic_glossary.html",
          :title => "Basic glossary" } Basic glossary

    %li
      %a{ :href => "configuring_aeolus.html",
          :title => "Configuring Aeolus" } Configuring Aeolus

    %li
      %a{ :href => "first_login.html",
          :title => "First login" } First login

    %li
      Configuring for Amazon EC2

    %li
      %a{ :href => "configure_cli.html",
          :title => "Configuring aeolus-cli" } Configure the Aeolus Command Line Tool

    %li
      %a{ :href => "make_template.html",
          :title => "Create a Fedora 15 Template" } Create a Fedora 15 Template

    %li
      %a{ :href => "start_image.html",
          :title => "Start an Instance of the Image" } Start an Instance of the Image

    %li
      %a{ :href => "stop_image.html",
          :title => "Stop a running Instance" } Stop a running Instance

    %li
      %a{ :href => "cleaning_up.html",
          :title => "Cleaning up" } Cleaning up

%br

.warning
  %b WARNING:
  Amazon and other Cloud providers charge fees for using their products and
  services, including EC2.

  %p
    Setting up EC2 with Aeolus means your Amazon EC2 account will be billed
    with their appropriate usage charges as you follow this guide and/or try
    things out.

  %p
    We
    %b ARE NOT
    responsible for any EC2 or other Cloud fees and charges you may incur.
  
  %p
    As a precaution after finishing every Aeolus testing session, you
    %b must
    manually check all storage and instances in Amazon have been terminated
    and removed as you expect.

  %p
    Development versions of Aeolus have on occasion been known to report
    instances as stopped when they are in fact still running in EC2, thereby
    incurring charges from Amazon.

  %p
    %b BE CAREFUL!

%br

.section-grouping
  %h2(id="cred") 1. Configure EC2 credentials in Aeolus

  %p Follow these steps to configure Amazon EC2 with Aeolus.

  %p
    In the
    %em Administer
    tab, click the
    %b Cloud Providers
    button.  This switches to a view showing the configured Cloud Providers.

  %p
    %center
      %a{ :href => "images/getting_started/aeolus_0_6_0_click_cloud_providers.png",
          :target => "_blank" }
        %img.thumbnail{ :src => "images/getting_started/thumbnails/aeolus_0_6_0_click_cloud_providers_thumb.png",
              :title => "Click the Cloud Providers button - click to view at full size in a new window",
              :alt => "Click the Cloud Providers button - click to view at full size in a new window",
              :width => "500",
              :height => "305"}

  %p
    Amazon EC2 was automatically populated by the
    %em aeolus-configure
    command we gave earlier.  It includes:

    %ul
      %li ec2-us-east-1
      %li ec2-us-west-1
      %li ec2-us-west-2
      %li ec2-eu-west-1
      %li ec2-ap-northeast-1
      %li ec2-ap-southeast-1

  %p
    %center
      %a{ :href => "images/getting_started/aeolus_0_6_0_cloud_providers_view_overview.png",
          :target => "_blank" }
        %img.thumbnail{ :src => "images/getting_started/thumbnails/aeolus_0_6_0_cloud_providers_view_overview_thumb.png",
              :title => "Cloud Providers overview - click to view at full size in a new window",
              :alt => "Cloud Providers overview - click to view at full size in a new window",
              :width => "500",
              :height => "365"}

  %p There is a drop down list you can select, for changing between them:

  %p
    %center
      %img.thumbnail{ :src => "images/getting_started/aeolus_0_6_0_cloud_provider_list.png",
            :title => "Cloud Providers list",
            :alt => "Cloud Providers list",
            :width => "361",
            :height => "284"}

  %p
    This view also contains its own sub-section buttons, for changing among
    settings:

  %p
    %center
      %img.thumbnail{ :src => "images/getting_started/aeolus_0_6_0_cloud_provider_section_buttons.png",
            :title => "Cloud Provider view section buttons",
            :alt => "Cloud Provider view section buttons",
            :width => "526",
            :height => "99"}

  %p Click on the "<b>Accounts</b>" button:


  %p
    %center
      %a{ :href => "images/getting_started/aeolus_0_6_0_cloud_providers_click_accounts.png",
          :target => "_blank" }
        %img.thumbnail{ :src => "images/getting_started/thumbnails/aeolus_0_6_0_cloud_providers_click_accounts_thumb.png",
              :title => "Click the Accounts button - click to view at full size in a new window",
              :alt => "Click the Accounts button - click to view at full size in a new window",
              :width => "500",
              :height => "365"}

  %p Then click the "<b>New Account</b>" button:

  %p
    %center
      %a{ :href => "images/getting_started/aeolus_0_6_0_click_new_account_button.png",
          :target => "_blank" }
        %img.thumbnail{ :src => "images/getting_started/thumbnails/aeolus_0_6_0_click_new_account_button_thumb.png",
              :title => "Click the New Account button - click to view at full size in a new window",
              :alt => "Click the New Account button - click to view at full size in a new window",
              :width => "500",
              :height => "307"}

  %p Fill in the EC2 account details, with your Amazon AWS account info.

  %p
    The information you need from Amazon is on their AWS
    <a href="https://aws-portal.amazon.com/gp/aws/developer/account/index.html?action=access-key"
    title="Security Credentials">Account &rArr; Security Credentials</a>
    page.

  %p
    %center
      %a{ :href => "images/getting_started/aeolus_0_6_0_fill_in_ec2_account_details.png",
          :target => "_blank" }
        %img.thumbnail{ :src => "images/getting_started/thumbnails/aeolus_0_6_0_fill_in_ec2_account_details_thumb.png",
              :title => "Fill in AWS account details - click to view at full size in a new window",
              :alt => "Fill in AWS account details - click to view at full size in a new window",
              :width => "500",
              :height => "408"}

  %p When you are done, click the "<b>Save</b> button".

  %p A confirmation message should appear:

  %p
    %center
      %a{ :href => "images/getting_started/aeolus_0_6_0_account_added_confirmation.png",
          :target => "_blank" }
        %img.thumbnail{ :src => "images/getting_started/thumbnails/aeolus_0_6_0_account_added_confirmation_thumb.png",
              :title => "Account added confirmation message - click to view at full size in a new window",
              :alt => "Account added confirmation message - click to view at full size in a new window",
              :width => "500",
              :height => "339"}

%br

.section-grouping
  %h2(id="testacct") 2. Verify the account details work

  %p
    %center
      %a{ :href => "images/getting_started/aeolus_0_6_0_ec2_account_testing.png",
          :target => "_blank" }
        %img.thumbnail{ :src => "images/getting_started/thumbnails/aeolus_0_6_0_ec2_account_testing_thumb.png",
              :title => "Account properties view - click to view at full size in a new window",
              :alt => "Account properties view - click to view at full size in a new window",
              :width => "500",
              :height => "269"}

  %p
    %center
      %a{ :href => "images/getting_started/aeolus_0_6_0_ec2_account_test_successful.png",
          :target => "_blank" }
        %img.thumbnail{ :src => "images/getting_started/thumbnails/aeolus_0_6_0_ec2_account_test_successful_thumb.png",
              :title => "Account test successful message - click to view at full size in a new window",
              :alt => "Account test successful message - click to view at full size in a new window",
              :width => "500",
              :height => "287"}


%br

%a.button{ :href => "make_template.html", :title => "Create A Fedora 15 Template" }
  Make Image
  %img{:src => "images/button-right.png", :alt => "→"}
