---
title: Aeolus | Stop a running Instance
breadcrumb_name: Stop Image
extension: html
filter: haml
---
%h1 Stop a running Instance

.page-listing
  %h3 Getting Started Guide

  %ol
    %li
      %a{ :href => "basic_glossary.html",
          :title => "Basic glossary" } Basic glossary

    %li
      %a{ :href => "configuring_aeolus.html",
          :title => "Configuring Aeolus" } Configuring Aeolus

    %li
      %a{ :href => "first_login.html",
          :title => "First login" } First login

    %li
      %a{ :href => "configure_provider.html",
          :title => "Configure your Provider" } Configure your Provider

    %li
      %a{ :href => "configure_cli.html",
          :title => "Configuring aeolus-cli" } Configure the Aeolus Command Line Tool

    %li
      %a{ :href => "make_template.html",
          :title => "Create a Fedora 15 Template" } Create a Fedora 15 Template

    %li
      %a{ :href => "start_image.html",
          :title => "Start an Instance of the Image" } Start an Instance of the Image

    %li
      Stop a running Instance

    %li
      %a{ :href => "cleaning_up.html",
          :title => "Cleaning up" } Cleaning up

%br

.section-grouping
  %h2 1. Stopping the Instance

  %p
    Shutting down a running instance is very simple.

  %p
    &nbsp;&nbsp;&nbsp;
    %center
      %a{ :href => "images/getting_started/aeolus_stop_instance_button.png",
          :target => "_blank" }
        %img.thumbnail{ :src => "images/getting_started/thumbnails/aeolus_stop_instance_button_thumb.png",
              :title => "Shutting down the instance - click to view at full size in a new window",
              :alt => "Shutting down the instance - click to view at full size in a new window" }

  %p
    %ol
      %li
        In the Aeolus web interface, click the
        %b MONITOR
        tab and select the grid view by clicking the grid button on the right side of the page.


      %li
        Click on "Instances" to view your running instances.  Tick the checkbox next to the instance name in the instance list.

      %li
        Click the "Stop selected instances" button.  Within a minute or two the instance status should change to say <em>stopped</em>:

  %p
    &nbsp;&nbsp;&nbsp;
    %center
      %a{ :href => "images/getting_started/aeolus_instance_stopped.png",
          :target => "_blank" }
        %img.thumbnail{ :src => "images/getting_started/thumbnails/aeolus_instance_stopped_thumb.png",
              :title => "Instance has stopped - click to view at full size in a new window",
              :alt => "Instance has stopped - click to view at full size in a new window" }

  %p
    If you are using Amazon EC2, follow the next step to check for instances running in EC2.
%br

.section-grouping
  %h2 2. Check for instances left running in EC2

  %p
    When using a development version of Aeolus, always remember to check the
    AWS Management Console for instances left running in EC2.

  %p
    It's rare for this to happen, but better safe than sorry:

  %p
    &nbsp;&nbsp;&nbsp;
    %img{ :src => "images/getting_started/ec2_instance_clean_up.png",
          :title => "Check AWS for EC2 instances left running",
          :alt => "Check AWS for EC2 instances left running" }

%br

%a.button{ :href => "cleaning_up.html", :title => "Cleaning up" }
  Cleaning Up
  %img{:src => "images/button-right.png", :alt => "→"}
