---
title: Aeolus | Use It
breadcrumb_name: Use It
extension: html
filter: haml
---
%h1 Using Aeolus Effectively

%p
  This page is a launching point for all our user level documentation.
  %br
  Not much here yet, but it will expand significantly over time.

.section-grouping
  %h2 Getting Started Guide

  %p
    Gets you up and running quickly with Aeolus.

  %p
    It covers initial configuration, connecting with Amazon EC2 or the mock provider, then doing
    very simple instance management with it.

  %ol
    %li
      %a{ :href => "basic_glossary.html",
          :title => "Basic glossary" } Basic glossary

    %li
      %a{ :href => "configuring_aeolus.html",
          :title => "Configuring Aeolus" } Configuring Aeolus

    %li
      %a{ :href => "first_login.html",
          :title => "First login" } First login

    %li
      %a{ :href => "configure_provider.html",
          :title => "Configure your Provider" } Configure your Provider

    %li
      %a{ :href => "make_template.html",
          :title => "Create a Fedora 15 Template" } Create a Fedora 15 Template

    %li
      %a{ :href => "start_image.html",
          :title => "Start an Instance of the Image" } Start an Instance of the Image

    %li
      %a{ :href => "stop_image.html",
          :title => "Stop a running Instance" } Stop a running Instance

    %li
      %a{ :href => "cleaning_up.html",
          :title => "Cleaning up" } Cleaning up

%br

.section-grouping
  %h3 Other documentation

  %p
    %ul
      %li
        %a{ :href => "faq.html",
            :title => "Frequently Asked Questions" } Frequently Asked Questions
        (FAQ)
        %br
        %br

      %li
        %a{ :href => "high_availability.html",
            :title => "High availability with Pacemaker Cloud" } High Availability
        \- High level introduction to High Availability (HA) with Aeolus
        using Pacemaker Cloud 
        %br
        %br

      %li
        %a{ :href => "log_files.html",
            :title => "Aeolus log files" } Log file locations
        %br
        %br

      -# Commented out until the config files page is ready
      -#%li
      -#  %a{ :href => "config_files.html",
      -#      :title => "Aeolus config files" } Configuration files
      -#  %br
      -#  %br

      %li
        %a{ :href => "report_a_bug.html",
            :title => "Instructions for reporting a bug" } Instructions for reporting a bug
        %br
        %br

      %li
        Link to the
        %a{ :href => "redmine/projects/aeolus/wiki/" } Aeolus Wiki
