---
title: Aeolus | The Team List
---
%h1 The Aeolus Development Team

%p
  Aeolus is developed by many people, in many locations around the world.
  %br
  %br
  There's a
  %a{ :href => "http://maps.google.com/maps/ms?hl=en&ie=UTF8&oe=UTF8&msa=0&msid=208821202026111036470.0004a15803778082ac2c5&t=h&ll=-4.565474,9.140625&spn=176.477907,336.796875&z=2" } Google Map
  showing locations of several contributors.
  %br
  %br
  To be added to this list or the map, please email
  <a href="#jclift">Justin Clift</a>.  Preferably with the details, suitable
  for cut-n-pasting.

%h2 Documentation

.section-grouping
  %h4
    Project:
    %em All of them

  %p
    Justin Clift, Dan Macpherson

%br

%h2 Infrastructure

%h3 Integration

.section-grouping
  %h4
    Project:
    %a{ :href => "" } Aeolus-cli

  %p
    Michael Orazi (mgr), Martyn Taylor (lead), Petr Blaho, Jay Guiditta,
    Mo Morsi, Jan Provaznik, Richard Su, Francesco Vollero, Matt Wager,
    Maros Zatko

%br

.section-grouping
  %h4
    Project:
    %a{ :href => "" } Aeolus-image-rubygem

  %p
    Michael Orazi (mgr), Martyn Taylor (lead), Petr Blaho, Jay Guiditta,
    Mo Morsi, Jan Provaznik, Richard Su, Francesco Vollero, Matt Wager,
    Maros Zatko

%br

.section-grouping
  %h4
    Project:
    %a{ :href => "audrey.html" } Audrey

  %p John Dunning (mgr), Greg Blomquist (lead), Dan Radez, Joe Vlcek

%br

.section-grouping
  %h4
    Project:
    %a{ :href => "configure.html" } Configure

  %p
    Michael Orazi (mgr), Mo Morsi (lead), Richard Su, Martyn Taylor,
    Francesco Vollero

%br

%h3 Self-contained projects

.section-grouping
  %h4
    Project:
    %a{ :href => "imagefactory.html" } Image Factory

  %p
    John Dunning (mgr), Steve Loranz, Ian McLeod, Ovidiu Visan

%br

.section-grouping
  %h4
    Project:
    %a{ :href => "imagewarehouse.html" } Image Warehouse

  %p
    John Dunning (mgr), Jim Meyering (lead), Jeff Darcy, Pete Zaitcev

%br

.section-grouping
  %h4
    Project:
    %a{ :href => "https://github.com/clalancette/oz/wiki" } Oz

  %p John Dunning (mgr), Chris Lalancette (lead), Ian McLeod, Ovidiu Visan

%br

%h2 QA Team

.section-grouping
  %h4
    Project:
    %em All of them

  %p
    Dave Johnson (lead), David Gao, Ronelle Landy, Rehana Raj

%br

%h2 Web-based User Interface

.section-grouping
  %h3
    Project:
    %a{ :href => "conductor.html" } Conductor

  %p
    Angus Thomas (mgr), Scott Seago (lead), Tzu-Mainn Chen, Jaromír Coufal,
    Jay Guiditta, Tomáš Hrčka, Steven Linabery, Ian Main, Brian McLaughlin,
    Mo Morsi, Mike Orazi, Martin Povolny, Jan Provaznik, Tomas Sedovic,
    Richard Su, Martyn Taylor, Jiri Tomasek, Matt Wagner, Crag Wolfe, Maros
    Zatko, Jozef Zigmund

%br

%h1 People's details

%table.team-table
  %thead
    %tr
      %td Name
      %td IRC Nick
      %td Aeolus projects
      %td Areas of expertise
      %td Email
      %td
        Prefers to be
        %br
        addressed as
      %td Blog?
      %td
        Twitter or
        %br
        identi.ca?
  %tbody
    %tr(id="blomquisg")
      %td Greg Blomquist
      %td blomquisg
      %td Audrey
      %td Puppet, Python, Ruby, Java
      %td gblomqui AT red hat DOT com
      %td Greg
      %td &nbsp;
      %td &nbsp;
    %tr(id="pblaho")
      %td Petr Blaho
      %td pblaho
      %td
        Aeolus-cli,
        %br
        Aeolus-image-rubygem
      %td Ruby on Rails (RoR)
      %td pblaho AT red hat DOT com
      %td Petr
      %td &nbsp;
      %td &nbsp;
    %tr(id="hewbrocca")
      %td Hugh Brock
      %td hewbrocca
      %td Conductor, Configure, Oz
      %td Engineering Manager
      %td hbrock AT red hat DOT com
      %td Hugh
      %td &nbsp;
      %td
        %a{ :href => "http://twitter.com/hbrock25" } hbrock25
    %tr(id="tzumainn")
      %td Tzu-Mainn Chen
      %td tzumainn
      %td Conductor
      %td Ruby on Rails
      %td tzumainn AT red hat DOT com
      %td Mainn ("Min")
      %td &nbsp;
      %td &nbsp;
    %tr(id="jclift")
      %td Justin Clift
      %td jclift
      %td All
      %td Community Manager
      %td jclift AT red hat DOT com
      %td Justin
      %td &nbsp;
      %td &nbsp;
    %tr(id="jcoufal")
      %td Jaromír Coufal
      %td jcoufal
      %td Conductor
      %td Interaction Design (UX, UI)
      %td jcoufal AT redhat DOT com
      %td Jarda
      %td &nbsp;
      %td
        %a{ :href => "http://www.twitter.com/coufalj" } coufalj
    %tr(id="jdarcy")
      %td Jeff Darcy
      %td jdarcy
      %td
        Image Warehouse and
        %br
        Operational Storage (Cloud FS)
      %td
        Storage Guru -
        %br
        emphasis on distributed
        %br
        file systems
      %td jdarcy AT red hat DOT com
      %td Jeff
      %td &nbsp;
      %td &nbsp;
    %tr(id="jrd")
      %td John Dunning
      %td jrd
      %td
        Audrey, Image Factory, Image
        %br
        Warehouse
      %td Engineering Manager
      %td jrd AT red hat DOT com
      %td JRD
      %td &nbsp;
      %td &nbsp;
    %tr(id="mfojtik")
      %td Michal Fojtik
      %td mfojtik
      %td
        Aeolus testing, a couple of
        %br
        Fedora Rubygems Packages
      %td Ruby development (Sinatra)
      %td mfojtik AT red hat DOT com
      %td Michal
      %td
        %a{ :href => "http://mifo.sk" } Link
      %td
        %a{ :href => "http://twitter.com/mfojtik" } mfojtik
    %tr(id="segfault923")
      %td David Gao
      %td segfault923
      %td Audrey
      %td Breaking things
      %td dgao AT redhat DOT com
      %td David
      %td &nbsp;
      %td &nbsp;
    %tr(id="jayg")
      %td Jason Guiditta
      %td jayg
      %td
        Conductor, Conductor
        %br
        connector to Factory
      %td
        Conductor architecture,
        %br
        QMF, HAML, SASS, Compass,
        %br
        Image Factory
      %td jguiditt AT red hat DOT com
      %td Jay
      %td &nbsp;
      %td &nbsp;
    %tr(id="thrcka")
      %td Tomáš Hrčka
      %td thrcka
      %td Conductor
      %td
        Ruby on Rails
        (RoR) development
      %td thrcka AT red hat DOT com
      %td Tomáš
      %td &nbsp;
      %td
        %a{ :href => "http://twitter.com/thrcka" } thrcka
    %tr(id="dajo")
      %td Dave Johnson
      %td dajo
      %td All of them
      %td Testing/test automation
      %td dajo AT red hat DOT com
      %td Dave
      %td &nbsp;
      %td &nbsp;
    %tr(id="clalance")
      %td Christopher Lalancette
      %td clalance
      %td Oz
      %td
        C, C++, Python, Ruby Developer,
        %br
        Evangelism
      %td clalancette AT gmail DOT com
      %td Chris
      %td
        %a{ :href => "http://clalance.blogspot.com" } Link
      %td &nbsp;
    %tr(id="rlandy")
      %td Ronelle Landy
      %td rlandy
      %td Conductor
      %td Testing/Test automation
      %td rlandy AT redhat DOT com
      %td Ronelle
      %td &nbsp;
      %td &nbsp;
    %tr(id="eggs")
      %td Steven Linabery
      %td eggs
      %td Conductor
      %td
        Breaking Things, Packaging,
        %br
        Release Wrangling
      %td slinaber AT red hat DOT com
      %td Steve
      %td &nbsp;
      %td &nbsp;
    %tr(id="loranzst")
      %td Steve Loranz
      %td loranzst
      %td Image Factory
      %td Python Developer mostly
      %td sloranz AT red hat DOT com
      %td Steve
      %td &nbsp;
      %td &nbsp;
    %tr(id="dmacpher")
      %td Dan Macpherson
      %td dmacpher
      %td All
      %td Documentation
      %td dmacpher AT red hat DOT com
      %td Dan
      %td &nbsp;
      %td &nbsp;
    %tr(id="slow")
      %td Ian Main
      %td slow
      %td Conductor, Heat
      %td Ruby
      %td imain AT red hat DOT com
      %td Ian
      %td &nbsp;
      %td &nbsp;
    %tr(id="bmclaughli")
      %td Brian McLaughlin
      %td bmclaughli
      %td Conductor
      %td Senior Software Engineer
      %td bmclaugh AT red hat DOT com
      %td Brian
      %td &nbsp;
      %td &nbsp;
    %tr(id="imcleod")
      %td Ian McLeod
      %td imcleod
      %td Image Factory
      %td Python and Ruby Developer
      %td imcleod AT red hat DOT com
      %td Ian
      %td &nbsp;
      %td &nbsp;
    %tr(id="jim")
      %td Jim Meyering
      %td jim
      %td Image Warehouse (mostly)
      %td
        All hands person, works on
        %br
        whatever needs working on
      %td jim AT meyering DOT net
      %td Jim
      %td &nbsp;
      %td &nbsp;
    %tr(id="mmorsi")
      %td Mohammed Morsi
      %td mmorsi
      %td
        Conductor, Fedora
        %br
        packaging, security
        %br
        infrastructure, testing
      %td
        Fedora, puppet, C
        %br
        developer, Ruby developer
      %td mmorsi AT red hat DOT com
      %td Mo
      %td
        %a{ :href => "http://mo.morsi.org" } Link
      %td &nbsp;
    %tr(id="morazi")
      %td Michael Orazi
      %td morazi
      %td
        Aeolus-cli,
        %br
        Aeolus-image-rubygem
      %td Engineering Manager
      %td morazi AT red hat DOT com
      %td Mike
      %td &nbsp;
      %td &nbsp;
    %tr(id="mpovolny")
      %td Martin Povolny
      %td mpovolny
      %td Conductor
      %td Programming and problem solving
      %td mpovolny AT red hat DOT com
      %td Martin
      %td &nbsp;
      %td &nbsp;
    %tr(id="jprovazn")
      %td Jan Provaznik
      %td jprovazn
      %td Conductor
      %td Ruby Development
      %td jprovazn AT red hat DOT com
      %td Jan
      %td &nbsp;
      %td &nbsp;
    %tr(id="radez")
      %td Dan Radez
      %td radez
      %td Audrey
      %td Python and Ruby
      %td radez AT red hat DOT com
      %td Dan
      %td &nbsp;
      %td &nbsp;
    %tr(id="rehana")
      %td Rehana Raj
      %td rehana
      %td Conductor
      %td QA Engineer
      %td redakkan AT redhat DOT com
      %td Rehana
      %td &nbsp;
      %td &nbsp;
    %tr(id="sseago")
      %td Scott Seago
      %td sseago
      %td Conductor models and API
      %td Ruby/Rails, Java
      %td sseago AT red hat DOT com
      %td Scott
      %td &nbsp;
      %td &nbsp;
    %tr(id="tsedovic")
      %td Tomas Sedovic
      %td tsedovic
      %td Conductor (mainly)
      %td
        Ruby on Rails, mostly UI;
        %br
        Tests, and reviews of other
        %br
        people's code.  Also
        %br
        exploratory proof-of-concept
        %br
        stuff.
      %td tsedovic AT red hat DOT com
      %td Thomas
      %td &nbsp;
      %td &nbsp;
    %tr(id="jstransk")
      %td Jiří Stránský
      %td jstransk
      %td
        %em To Be Determined. :)
      %td Ruby Development
      %td jstransk AT red hat DOT com
      %td Jirka
      %td &nbsp;
      %td
        %a{ :href => "http://twitter.com/jistr" } jistr
    %tr(id="rwsu")
      %td Richard Su
      %td rwsu
      %td
        Conductor, Conductor
        %br
        performance
      %td
        Java performance testing
        %br
        and optimization
      %td rwsu AT red hat DOT com
      %td Richard
      %td &nbsp;
      %td &nbsp;
    %tr(id="mtaylor")
      %td Martyn Taylor
      %td mtaylor
      %td Conductor + Configure
      %td
        Mainly: Ruby on Rails (RoR)
        %br
        Development, HAML
        %br
        Cucumber/RSpec, CSS
      %td mtaylor AT red hat DOT com
      %td Martyn
      %td &nbsp;
      %td &nbsp;
    %tr(id="athomas")
      %td Angus Thomas
      %td athomas
      %td Conductor
      %td Engineering Manager
      %td athomas AT red hat DOT com
      %td Angus
      %td &nbsp;
      %td &nbsp;
    %tr(id="jtomasek")
      %td Jiri Tomasek
      %td jtomasek
      %td Conductor
      %td
        Ruby on Rails (RoR)
        %br
        development, mostly
        %br
        on the front end.
        %br
        HAML and CSS as well
      %td jtomasek AT red hat DOT com
      %td Jirka
      %td &nbsp;
      %td &nbsp;
    %tr(id="ovisan")
      %td Ovidiu Visan
      %td ovisan
      %td Image Factory & Oz
      %td
        Responsible for building
        %br
        complete Windows images
      %td ovisan AT red hat DOT com
      %td Ovi
      %td &nbsp;
      %td
        %a{ :href => "http://twitter.com/ovidiuvisan" } ovidiuvisan
    %tr(id="joev")
      %td Joe Vlcek
      %td JoeV
      %td Audrey
      %td
        Ruby, Python, C &
        %br
        Shell scripts Developer
      %td jvlcek AT red hat DOT com
      %td Joe
      %td &nbsp;
      %td &nbsp;
    %tr(id="fvollero")
      %td Francesco Vollero
      %td fvollero
      %td Conductor
      %td Ruby Development
      %td fvollero AT red hat DOT com
      %td Francesco
      %td &nbsp;
      %td
        %a{ :href => "http://twitter.com/fvollero" } fvollero
    %tr(id="mwagner")
      %td Mark Wagner
      %td mwagner
      %td Performance Engineering
      %td
        Technical lead for most
        %br
        things related to Cloud
        %br
        performance
      %td mwagner AT red hat DOT com
      %td Mark
      %td &nbsp;
      %td &nbsp;
    %tr(id="mattydubs")
      %td Matt Wagner
      %td matty_dubs
      %td Conductor (mainly)
      %td
        Ruby on Rails (RoR)
        %br
        Development, Rails
        %br
        architecture, testing
      %td matt DOT wagner AT red hat DOT com
      %td Matt
      %td
        %a{ :href => "http://matty.tumblr.com" } Link
      %td
        %a{ :href => "http://twitter.com/n1zyy" } n1zyy
    %tr(id="cwolfe")
      %td Crag Wolfe
      %td cwolfe
      %td Conductor
      %td Python, Ruby
      %td cwolfe AT red hat DOT com
      %td Crag
      %td &nbsp;
      %td &nbsp;
    %tr(id="zaitcev")
      %td Pete Zaitcev
      %td zaitcev
      %td Image Warehouse
      %td
        Image Warehouse, Hail,
        %br
        MongoDB
      %td zaitcev AT red hat DOT com
      %td Pete
      %td &nbsp;
      %td &nbsp;
    %tr(id="mzatko")
      %td Maros Zatko
      %td mzatko
      %td Conductor
      %td RoR development
      %td mzatko AT red hat DOT com
      %td Maros
      %td &nbsp;
      %td &nbsp;
  %tfoot
    %tr(id="jzigmund")
      %td Jozef Zigmund
      %td jzigmund
      %td Conductor
      %td
        Ruby on Rails (RoR)
        %br
        Development, and HAML
      %td jzigmund AT red hat DOT com
      %td Jozef
      %td &nbsp;
      %td &nbsp;

%br

&nbsp; 
%a.button{ :href => "get_it.html" }
  Get It
  %img{:src => "images/button-right.png", :alt => "→"}
