---
title: Aeolus | How to compile Aeolus
---
%h1 How to compile Aeolus

%p
  Aeolus is made up of several components, each of which need to be compiled
  separately.

%h2 Instructions for Fedora and RHEL/CentOS


%p Compiling in the following order is known to work

%ol
  %li
    %a(href="#conduct") Conductor
  %li
    %a(href="#oz") Oz
  %li
    %a(href="#factory") Image Factory
  %li
    %a(href="#iwhd") Image Warehouse
  %li
    %a(href="#audrey") Audrey

%p
  This page also has instructions for building some external dependencies,
  though they're generally not needed.

%ul
  %li
    %a(href="#libdeltacloud") libdeltacloud


%br

.section-grouping
  %h2 Pre-requisites

  %p
    Aeolus has a large number of prerequisite packages.
    %br
    %br
    The best way to install them is by first installing the released
    Aeolus-all packages, using the instructions on the
    %a{ :href => "get_it.html" } Get Aeolus
    page.

    %br
    %br
    Follow the instructions on the Get Aeolus installation page, then
    return here.

%br

.section-grouping
  %h3(id="conduct") Build Conductor

  %h4 1. Install the required development packages:

  %p
    %pre
      :preserve
        $ sudo yum install git make rest-devel rpm-build ruby-devel zip rubygem-sass \
          rubygem-compass rubygem-compass-960-plugin

  %h4 2. Clone the Conductor git repository:

  %p
    %pre
      :preserve
        $ git clone git://github.com/aeolusproject/conductor.git -b <em><span style="color: chartreuse">branch_name</span></em>

  %p
    Look up the <em>branch_name</em> to use
    <a href="https://www.aeolusproject.org/redmine/projects/aeolus/wiki/GitHub_Branches_and_Tags" "Our Git Branches and Tags">here</a>.

  %h4 3. Initialise any needed git submodules

  %p
    %pre
      :preserve
        $ cd conductor
        $ git submodule init
        $ git submodule update

  %h4 4. Build the Conductor RPMs:

  %p
    %pre
      :preserve
        $ make rpms

  %p
    The compiled RPMs are placed in: <b>~/rpmbuild/RPMS/noarch</b>:

  %p
    %pre
      :preserve
        $ ls -la ~/rpmbuild/RPMS/noarch/
        total 1732
        drwxr-xr-x. 2 jc jc    4096 May 28 16:53 .
        drwxr-xr-x. 3 jc jc    4096 May 28 16:53 ..
        -rw-rw-r--. 1 jc jc   17149 May 28 16:53 aeolus-all-0.9.0-0.20120528065313gite451adc.fc16.noarch.rpm
        -rw-rw-r--. 1 jc jc 1587482 May 28 16:53 aeolus-conductor-0.9.0-0.20120528065313gite451adc.fc16.noarch.rpm
        -rw-rw-r--. 1 jc jc   25986 May 28 16:53 aeolus-conductor-daemons-0.9.0-0.20120528065313gite451adc.fc16.noarch.rpm
        -rw-rw-r--. 1 jc jc  100546 May 28 16:53 aeolus-conductor-devel-0.9.0-0.20120528065313gite451adc.fc16.noarch.rpm
        -rw-rw-r--. 1 jc jc   21889 May 28 16:53 aeolus-conductor-doc-0.9.0-0.20120528065313gite451adc.fc16.noarch.rpm

%br

.section-grouping
  %h3(id="oz") Build Oz

  %h4 1. Install the required development packages:

  %p
    %pre
      :preserve
        $ sudo yum install gcc git make rpm-build

  %h4 2. Clone the Oz git repository

  %p
    %pre
      :preserve
        $ git clone git://github.com/clalancette/oz.git

  %h4 3. Build the RPMs

  %p
    %pre
      :preserve
        $ cd oz
        $ make rpm

  %p
    The RPMs are built and placed in <b>~/rpmbuild/RPMS</b>,
    under either the
    %b i386
    or
    %b x86_64
    subdirectory, depending upon your architecture:

  %p
    %pre
      :preserve
        $ ls -l ~/rpmbuild/RPMS/x86_64/oz-*
        -rw-r--r--. 1 jc jc 283452 Apr 21 20:19 /home/jc/rpmbuild/RPMS/x86_64/oz-0.3.0-1.fc14.x86_64.rpm
        -rw-r--r--. 1 jc jc   2060 Apr 21 20:19 /home/jc/rpmbuild/RPMS/x86_64/oz-debuginfo-0.3.0-1.fc14.x86_64.rpm

%br

.section-grouping
  %h3(id="factory") Build ImageFactory

  %h4 1. Install the required development packages:

  %p
    %pre
      :preserve
        $ sudo yum install gcc git make rpm-build

  %h4 2. Clone the Image Factory git repository

  %p
    %pre
      :preserve
        $ git clone git://github.com/aeolusproject/imagefactory.git

  %h4 3. Build the RPM

  %p
    %pre
      :preserve
        $ cd imagefactory
        $ make rpm

  %p
    The Image Factory RPM will be placed in <b>~/rpmbuild/RPMS/noarch</b>:

  %p
    %pre
      :preserve
        $ ls -la ~/rpmbuild/RPMS/noarch/im*
        -rw-r--r--. 1 jc jc 139914 Aug 22 15:24 imagefactory-0.4.1_55_g9203de5-1.fc14.noarch.rpm

%br

.section-grouping
  %h3(id="iwhd") Build Image Warehouse

  %h4 1. Install git and gperf

  %p
    %pre
      :preserve
        $ sudo yum install git gperf

  %h4 2. Clone the Image Warehouse git repository

  %p
    %pre
      :preserve
        $ git clone git://git.fedorahosted.org/iwhd.git

  %h4 3. Install its dependencies

  %p
    %pre
      :preserve
        $ cd iwhd
        $ sudo yum install $(grep BuildReq iwhd.spec.in|sed 's/.*: //')

  %h4 4. Build the RPMs

  %p
    %pre
      :preserve
        $ cd iwhd
        $ ./bootstrap
        $ ./configure --quiet
        $ make rpm

  %p
    The Image Warehouse (iwhd) RPMs are placed in <b>~/rpmbuild/RPMS</b>,
    under either the
    %b i386
    or
    %b x86_64
    subdirectory, depending upon your architecture:

  %p
    %pre
      :preserve
        $ ls -la ~/rpmbuild/RPMS/x86_64/iwhd-*
        -rw-r--r--. 1 jc jc 127244 Apr 21 21:34 /home/jc/rpmbuild/RPMS/x86_64/iwhd-0.93.5.adc3-1.fc14.x86_64.rpm
        -rw-r--r--. 1 jc jc 567404 Apr 21 21:34 /home/jc/rpmbuild/RPMS/x86_64/iwhd-debuginfo-0.93.5.adc3-1.fc14.x86_64.rpm

%br

.section-grouping
  %h3(id="audrey") Build Audrey

  %h4 1. Install the required development packages:

  %p
    %pre
      :preserve
        $ sudo yum install git

  %h4 2. Clone the Audrey git repository

  %p
    %pre
      :preserve
        $ git clone git://github.com/aeolusproject/audrey.git

  %h4 3. Build the RPMs

  %p
    %pre
      :preserve
        $ cd audrey/configserver
        $ rake rpm

  %p
    The Audrey config server RPM is placed in <b>~/rpmbuild/RPMS</b>, under either the
    %b i386
    or
    %b x86_64
    subdirectory, depending upon your architecture:

  %p
    %pre
      :preserve
        $ ls -la ~/rpmbuild/RPMS/x86_64/aeolus-config*
        -rw-r--r--. 1 jc jc 20672 Apr 22 00:49 /home/jc/rpmbuild/RPMS/x86_64/aeolus-configserver-0.1.0-1.fc14.x86_64.rpm

%br
%br

%h2 Instructions for building external dependencies

%p
  %i
    These are not always needed, but are useful to have instructions for.

.section-grouping
  %h3(id="libdeltacloud") Build libdeltacloud

  %p
    Web site:
    %a{ :href => "http://www.deltacloud.org", :title => "Deltacloud home page" } http://www.deltacloud.org

  %h4 1. Install the required development packages:

  %p
    %pre
      :preserve
        $ sudo yum install git

  %h4 2. Clone the libdeltacloud git repository

  %p
    %pre
      :preserve
        $ git clone git://git.fedorahosted.org/deltacloud/libdeltacloud.git

  %h4 3. Build the RPMs

  %p
    %pre
      :preserve
        $ cd libdeltacloud
        $ ./autogen.sh
        $ ./configure --quiet
        $ make rpm

  %p
    The libdeltacloud RPMs are placed in <b>~/rpmbuild/RPMS</b>, under either the
    %b i386
    or
    %b x86_64
    subdirectory, depending upon your architecture:

  %p
    %pre
      :preserve
        $ ls -la ~/rpmbuild/RPMS/x86_64/libdeltacloud-*
        -rw-r--r--. 1 jc jc 32680 Apr 22 12:59 /home/jc/rpmbuild/RPMS/x86_64/libdeltacloud-0.7-1.fc14.x86_64.rpm
        -rw-r--r--. 1 jc jc 68088 Apr 22 12:59 /home/jc/rpmbuild/RPMS/x86_64/libdeltacloud-debuginfo-0.7-1.fc14.x86_64.rpm
        -rw-r--r--. 1 jc jc  7600 Apr 22 12:59 /home/jc/rpmbuild/RPMS/x86_64/libdeltacloud-devel-0.7-1.fc14.x86_64.rpm
