---
title: Aeolus | Detailed concepts
---
%h1 Detailed concepts

%h2
  Gives the details on the components (sub-projects) in Aeolus and their
  interaction

%p
  %b
    Use diagrams / pics to explain things well.
    %br
    %br If time permits, animation might be useful.
