---
title: Aeolus | Features
---
%h1 Features and benefits of Aeolus

.section-grouping
  %h2 Key features

  %p
    Aeolus provides key features for a powerful Cloud solution:

  %p
    %ul
      %li
        Creation of Cloud resources
        %br
        %br
      %li
        Managment of policies and work-flows around those resources
        %br
        %br
      %li
        Governing access and permissions for the resources

  %p
    Quotas, quality-of-service, and security policies are also under
    administrator control.

  %p
    End-users can be given access to a
    %em self-service
    web interface, for provisioning resources subject to policy constraints.

%br

.section-grouping
  %h2 Supported Clouds

  %p
    Support for several major providers of public and private Cloud services
    are in active development:

  %p
    %ul
      %li
        %a{ :href => "http://aws.amazon.com/ec2" } Amazon Elastic Compute Cloud (EC2)
        %br
        %br
      %li
        %a{ :href => "http://www.rackspace.com/cloud/" } Rackspace Cloud Hosting
        %br
        %br
      %li
        %a{ :href => "http://www.redhat.com/virtualization/rhev/server/" } Red Hat Enterprise Virtualization (RHEV)
        %br
        %br
      %li
        %a{ :href => "http://www.vmware.com/products/datacenter-virtualization/vsphere/" } VMware vSphere
        %br
        %br
      %li
        %a{ :href => "http://www.eucalyptus.com" } Eucalyptus

  %p
    With further being under consideration, or being developed externally.

  %p
    If you represent a private or public Cloud company, please
    <a href="contact.html#business" title="Get in touch with us">get in touch with us</a>.

  %p
    We'd love to discuss adding support for your Cloud to Aeolus.

-#%p
  %b
    With a matrix/table of supported features in clouds, if that turns out to
    be a good visual approach.

-#%p
  %em
    Might be worth looking at the RH internal Cloud sales stuff to see what
    is felt to be relevant, and/or directly asking on the cloud-tech-planning
    mailing list.

%br

&nbsp; 
%a.button{ :href => "requirements.html" }
  Requirements
  %img{:src => "images/button-right.png", :alt => "→"}
