---
title: Aeolus | Get It
---
%h1 Get Aeolus

.section-grouping

  Aeolus has both <b>Stable</b>, and (bleeding edge) <b>Testing</b> packages
  available. <i>(Choose only one set)</i>

  %p
    The <b>Stable</b> packages have been tested with each other, and are
    known to work.  Most people should use these.

  %p
    Only use the <b>Testing</b> packages when you are doing development on
    Aeolus itself, or looking for a specific bug fix.

  %h2 Which packages do you want?

  %ul
    %li
      %a(href="#stable" title="Stable Release packages")
        Stable Release
    %li
      %a(href="#dev" title="Testing packages")
        Testing packages

%br

%h1(id="stable" style="margin-top:0")
  Stable Release - 0.9.0

%p
  Aeolus is available for Fedora 15 and 16, as well as RHEL/CentOS 6.2.
  64-bit only in all cases.

  %p
    %h2 Choose your installation platform:

  %ul
    %li
      <a href="#stabfed1516" title="Fedora 15 and 16">Fedora 15 and 16</a>
    %li
      <a href="#stabrhel6" title="Red Hat Enterprise Linux/CentOS 6.2">Red Hat Enterprise Linux and CentOS 6.2</a>

%br

.section-grouping
  %h2(id="stabfed1516") Installation for Fedora 15 and 16 (64-bit only)

  %h3 1. Add the Aeolus Fedora 15/16 Stable yum repository

  %p
    %pre
      :preserve
        $ sudo curl -o /etc/yum.repos.d/fedora-aeolus.repo \
        &nbsp; http://repos.fedorapeople.org/repos/aeolus/conductor/fedora-aeolus.repo

  %h3 2. Install Aeolus

  %p
    %pre
      :preserve
        $ sudo yum install aeolus-all

  %p
    &nbsp;&nbsp;&nbsp;&nbsp; This will install the latest Aeolus stable
    packages, along with their dependencies, on the system.

  %p
    &nbsp;&nbsp;&nbsp;&nbsp;
    %a.button{ :href => "/gsg/0.9.0/configuring_aeolus.html" }
      Configure It
      %img{:src => "images/button-right.png", :alt => "→"}

%br

.section-grouping
  %h2(id="stabrhel6")
    Installation for Red Hat Enterprise Linux/CentOS 6.2 (64-bit only)

  %h3
    1. Add the EPEL repository for RHEL6/CentOS 6.x

  %p
    %pre
      $ sudo yum install http://download.fedoraproject.org/pub/epel/6/x86_64/epel-release-6-6.noarch.rpm

  %h3 2. Add the Aeolus Stable repository for RHEL/CentOS 6.2

  %p
    %pre
      :preserve
        $ sudo curl -o /etc/yum.repos.d/rhel-aeolus.repo \
        &nbsp; http://repos.fedorapeople.org/repos/aeolus/conductor/rhel-aeolus.repo

  %h3 3. Install Aeolus

  %p
    %pre
      $ sudo yum install aeolus-all

  %p
    &nbsp;&nbsp;&nbsp;&nbsp; This will install the latest Aeolus stable
    packages, along with their dependencies, on the system.

  %p
    &nbsp;&nbsp;&nbsp;&nbsp;
    %a.button{ :href => "/gsg/0.9.0/configuring_aeolus.html" }
      Configure It
      %img{:src => "images/button-right.png", :alt => "→"}

%br
%br

%h1(id="dev" style="margin-top:0")
  Testing packages

%p
  Aeolus is available for Fedora 15 and 16, as well as RHEL/CentOS 6.2.
  64-bit only in all cases.

  %p
    %h2 Choose your installation platform:

  %ul
    %li
      <a href="#devfed1516" title="Fedora 15 and 16">Fedora 15 and 16</a>
    %li
      <a href="#devrhel6" title="Red Hat Enterprise Linux/CentOS 6.2">Red Hat Enterprise Linux and CentOS 6.2</a>

%br

.section-grouping
  %h2(id="devfed1516") Installation for Fedora 15 and 16 (64-bit only)

  %h3 1. Add the Aeolus Fedora 15/16 Testing yum repository

  %p
    %pre
      :preserve
        $ sudo curl -o /etc/yum.repos.d/fedora-aeolus-testing.repo \
        &nbsp; http://repos.fedorapeople.org/repos/aeolus/conductor/testing/fedora-aeolus-testing.repo

  %h3 2. Install Aeolus

  %p
    %pre
      :preserve
        $ sudo yum install aeolus-all

  %p
    &nbsp;&nbsp;&nbsp;&nbsp; This will install the latest Aeolus testing
    packages, along with their dependencies, on the system.

  %p
    &nbsp;&nbsp;&nbsp;&nbsp;
    %a.button{ :href => "/gsg/0.9.0/configuring_aeolus.html" }
      Configure It
      %img{:src => "images/button-right.png", :alt => "→"}

-#%br

-#.section-grouping
  %h2(id="devfed17") Installation for Fedora 17 (beta) (64-bit only)

  %h3 1. Install Aeolus

  %p.note
    %b NOTE -
    You need to enable the Fedora Updates Testing repository at present, for
    all of the Aeolus packages to install correctly.

    %br
    %br

    This is a temporary measure only, and should be resolved in time for the
    Fedora 17 release.

  %p
    %pre
      :preserve
        $ sudo yum install aeolus-all --enablerepo=updates-testing

  %p
    &nbsp;&nbsp;&nbsp;&nbsp; This will install the latest Aeolus testing
    packages, along with their dependencies, on the system.

  %p
    &nbsp;&nbsp;&nbsp;&nbsp;
    %a.button{ :href => "/gsg/0.9.0/configuring_aeolus.html" }
      Configure It
      %img{:src => "images/button-right.png", :alt => "→"}

%br

.section-grouping

  %h2(id="devrhel6")
    Installation for Red Hat Enterprise Linux/CentOS 6.2 (64-bit only)

  %h3
    1. Add the EPEL repository for RHEL6/CentOS 6.x

  %p
    %pre
      $ sudo yum install http://download.fedoraproject.org/pub/epel/6/x86_64/epel-release-6-6.noarch.rpm

  %h3 2. Add the Aeolus Testing repository for RHEL/CentOS 6.2

  %p
    %pre
      :preserve
        $ sudo curl -o /etc/yum.repos.d/rhel-aeolus-testing.repo \
        &nbsp; http://repos.fedorapeople.org/repos/aeolus/conductor/testing/rhel-aeolus-testing.repo

  %h3 3. Install Aeolus

  %p
    %pre
      $ sudo yum install aeolus-all

  %p
    &nbsp;&nbsp;&nbsp;&nbsp; This will install the latest Aeolus testing
    packages, along with their dependencies, on the system.

  %p
    &nbsp;&nbsp;&nbsp;&nbsp;
    %a.button{ :href => "/gsg/0.9.0/configuring_aeolus.html" }
      Configure It
      %img{:src => "images/button-right.png", :alt => "→"}
