---
title: Aeolus | Get It
---
%h1 Get Aeolus - Stable 0.10.x Release Series

.section-grouping

  %h2(id="stabfed1516") Installation for Fedora 16 (64-bit only)

  %h3 1. Install Aeolus

  %p
    %pre
      :preserve
        $ sudo yum install aeolus-all

  %p
    &nbsp;&nbsp;&nbsp;&nbsp; This will install the latest Aeolus stable
    packages, along with their dependencies, on the system.

  %p
    &nbsp;&nbsp;&nbsp;&nbsp;
    %a.button{ :href => "/gsg/0.10.0/configuring_aeolus.html" }
      Configure It
      %img{:src => "images/button-right.png", :alt => "→"}
