---
title: Aeolus Project - Getting Started
---
%h1 Getting started

.section-grouping
  .note
    %p
      %b NOTE:
      This is an outdated page and has been replaced by the (much expanded): 

    %p
      &nbsp;&nbsp;&nbsp;
      %a{ :href => "configuring_aeolus.html",
          :title => "Aeolus Getting Started Guide" } Getting Started Guide
    -#%p
      It has been replaced with an expanded "<b>Getting Started Guide</b>",
      available here:

    %p
      If you came here from a link or bookmark, please let the referring place
      know to update their link.