---
title: Aeolus Project - Oz
---
%h1 Oz

%p Oz is a tool for automatically installing guest OSs with only minimal up-front input from the user.

%p Please note that the main Oz site has moved to github:

%ul
  %li
    %a{ :href => "https://github.com/clalancette/oz/wiki", :title => "Oz", :text => "Oz" } Oz
