---
title: Aeolus Project
---
%h1 Projects

%p
  Aeolus is assembled from several components, each of which is an open source
  project itself:

%ul
  %li
    %a{ :href => "audrey.html", :title => "Audrey project pages", :text => "Audrey project pages" } Audrey
    &ndash; Set of tools to do run-time configuration of cloud instances
  %li
    %a{ :href => "conductor.html", :title => "Conductor project pages", :text => "Conductor project pages" } Conductor
    &ndash; Browser based user interface
  %li
    %a{ :href => "configure.html", :title => "Configure project pages", :text => "Configure project pages" } Configure
    &ndash; Configuration script for setting up Aeolus 
  %li
    %a{ :href => "imagefactory.html", :title => "Image Factory project pages", :text => "Image Factory project pages" } Image Factory
    &ndash; Daemon with a QMF interface for building cloud images
  %li
    %a{ :href => "imagewarehouse.html", :title => "Image Warehouse project pages", :text => "Image Warehouse project pages" } Image Warehouse
    &ndash; Daemon to move cloud images from cloud to cloud based on rules
  %li
    %a{ :href => "oz.html", :title => "Oz project pages", :text => "Oz project pages" } Oz
    &ndash; Automated virtual machine installer

%h2 Other Projects

%p
  In addition to the core Aeolus components, there are some projects that aim to enhance Aeolus.
     
%ul
  %li
    %a{ :href => "https://github.com/niteshnarayanlal/Aeolus-gui", :title => "Aeolus-GUI", :text => "Aeolus GUI is the aeolus desktop client" } Aeolus-GUI
    &ndash; Aeolus GUI Client


