---
title: Aeolus - Screenshots of Aeolus in action
---
%h1 Screenshots of Aeolus in action

.section-grouping
  %h2 Aeolus 0.3.0

  %p
    %center
      %a{ :href => "images/getting_started/initial_login_screen.png",
          :target => "_blank" }
        %img.thumbnail{ :src => "images/getting_started/thumbnails/initial_login_screen_thumb.png",
              :title => "Initial login screen - click to view at full size in a new window",
              :alt => "Initial login screen - click to view at full size in a new window" ,
              :width => 500,
              :height => 347 }
      %br
      %em Initial login screen

  %p &nbsp;

  %p
    %center
      %a{ :href => "images/getting_started/initial_welcome_screen.png",
          :target => "_blank" }
        %img.thumbnail{ :src => "images/getting_started/thumbnails/initial_welcome_screen_thumb.png",
              :title => "Initial welcome screen - click to view at full size in a new window",
              :alt => "Initial welcome screen - click to view at full size in a new window" ,
              :width => 500,
              :height => 296 }
      %br
      %em Initial welcome screen (after logging in)

  %p &nbsp;

  %p
    %center
      %a{ :href => "images/getting_started/new_provider_screen_no_values.png",
          :target => "_blank" }
        %img.thumbnail{ :src => "images/getting_started/thumbnails/new_provider_screen_no_values_thumb.png",
              :title => "New Provider screen not yet filled out - click to view at full size in a new window",
              :alt => "New Provider screen not yet filled out - click to view at full size in a new window",
              :width => 500,
              :height => 305 }
      %br
      %em New Provider screen

  %p &nbsp;

  %p
    %center
      %a{ :href => "images/getting_started/change_password_screen.png",
          :target => "_blank" }
        %img.thumbnail{ :src => "images/getting_started/thumbnails/change_password_screen_thumb.png",
              :title => "Update user details screen - click to view at full size in a new window",
              :alt => "Update user details screen - click to view at full size in a new window" ,
              :width => 500,
              :height => 434 }
      %br
      %em Update user details screen

%br

&nbsp; 
%a.button{ :href => "features.html" }
  Features
  %img{:src => "images/button-right.png", :alt => "→"}
