---
title: Aeolus - Screenshots of Aeolus in action
---
%h1 Screenshots of Aeolus in action

.section-grouping
  %h2 Aeolus 0.9.0 (<i>presently in development</i>)

  %p
    %center
      %a{ :href => "images/screenshots/0.9.0/monitor_overview.png",
          :target => "_blank" }
        %img.thumbnail{ :src => "images/screenshots/0.9.0/thumbnails/monitor_overview_thumb.png",
              :title => "Overview of Monitor tab - click to view at full size in a new window",
              :alt => "Overview of Monitor tab - click to view at full size in a new window" ,
              :width => 500,
              :height => 685 }
      %br
      %em Overview of Monitor tab

  %p &nbsp;

  %p
    %center
      %a{ :href => "images/screenshots/0.9.0/pool_families_list.png",
          :target => "_blank" }
        %img.thumbnail{ :src => "images/screenshots/0.9.0/thumbnails/pool_families_list_thumb.png",
              :title => "Pool Families list - click to view at full size in a new window",
              :alt => "Pool Families list - click to view at full size in a new window" ,
              :width => 500,
              :height => 489 }
      %br
      %em Pool Families list

  %p &nbsp;

  %p
    %center
      %a{ :href => "images/screenshots/0.9.0/vms_in_pool_pretty.png",
          :target => "_blank" }
        %img.thumbnail{ :src => "images/screenshots/0.9.0/thumbnails/vms_in_pool_pretty_thumb.png",
              :title => "List of instances in a pool, in pretty view - click to view at full size in a new window",
              :alt => "List of instances in a pool, in pretty view - click to view at full size in a new window" ,
              :width => 500,
              :height => 516 }
      %br
      %em List of instances in a pool, in pretty view

  %p &nbsp;

  %p
    %center
      %a{ :href => "images/screenshots/0.9.0/deployment_properties.png",
          :target => "_blank" }
        %img.thumbnail{ :src => "images/screenshots/0.9.0/thumbnails/deployment_properties_thumb.png",
              :title => "Deployable properties - click to view at full size in a new window",
              :alt => "Deployable properties - click to view at full size in a new window" ,
              :width => 500,
              :height => 602 }
      %br
      %em Deployable properties

  %p &nbsp;

  %p
    %center
      %a{ :href => "images/screenshots/0.9.0/create_deployable.png",
          :target => "_blank" }
        %img.thumbnail{ :src => "images/screenshots/0.9.0/thumbnails/create_deployable_thumb.png",
              :title => "Create Deployable - click to view at full size in a new window",
              :alt => "Create Deployable - click to view at full size in a new window" ,
              :width => 500,
              :height => 376 }
      %br
      %em Create Deployable

  %p &nbsp;

  %p
    %center
      %a{ :href => "images/screenshots/0.9.0/launch_instance.png",
          :target => "_blank" }
        %img.thumbnail{ :src => "images/screenshots/0.9.0/thumbnails/launch_instance_thumb.png",
              :title => "Launch an instance - click to view at full size in a new window",
              :alt => "Launch an instance - click to view at full size in a new window" ,
              :width => 500,
              :height => 394 }
      %br
      %em Launch an instance

  %p &nbsp;

  %p
    %center
      %a{ :href => "images/screenshots/0.9.0/instance_properties.png",
          :target => "_blank" }
        %img.thumbnail{ :src => "images/screenshots/0.9.0/thumbnails/instance_properties_thumb.png",
              :title => "Instance properties - click to view at full size in a new window",
              :alt => "Instance properties - click to view at full size in a new window" ,
              :width => 500,
              :height => 511 }
      %br
      %em Instance properties

  %p &nbsp;

  %p
    %center
      %a{ :href => "images/screenshots/0.9.0/vm_image_properties.png",
          :target => "_blank" }
        %img.thumbnail{ :src => "images/screenshots/0.9.0/thumbnails/vm_image_properties_thumb.png",
              :title => "Image properties - click to view at full size in a new window",
              :alt => "Image properties - click to view at full size in a new window" ,
              :width => 500,
              :height => 408 }
      %br
      %em Image properties

  %p &nbsp;

  %p
    %center
      %a{ :href => "images/screenshots/0.9.0/vm_image_properties_2.png",
          :target => "_blank" }
        %img.thumbnail{ :src => "images/screenshots/0.9.0/thumbnails/vm_image_properties_2_thumb.png",
              :title => "More image properties - click to view at full size in a new window",
              :alt => "More image properties - click to view at full size in a new window" ,
              :width => 500,
              :height => 439 }
      %br
      %em More image properties

  %p &nbsp;

  %p
    %center
      %a{ :href => "images/screenshots/0.9.0/vm_image_properties_with_flash_message.png",
          :target => "_blank" }
        %img.thumbnail{ :src => "images/screenshots/0.9.0/thumbnails/vm_image_properties_with_flash_message_thumb.png",
              :title => "Image properties with flash message - click to view at full size in a new window",
              :alt => "Image properties with flash message - click to view at full size in a new window" ,
              :width => 500,
              :height => 365 }
      %br
      %em Image properties with flash message

  %p &nbsp;

  %p
    %center
      %a{ :href => "images/screenshots/0.9.0/vms_in_pool_list.png",
          :target => "_blank" }
        %img.thumbnail{ :src => "images/screenshots/0.9.0/thumbnails/vms_in_pool_list_thumb.png",
              :title => "List of instances in a pool, in table format - click to view at full size in a new window",
              :alt => "List of instances in a pool, in table format - click to view at full size in a new window" ,
              :width => 500,
              :height => 474 }
      %br
      %em List of instances in a pool, in table format

  %p &nbsp;

  %p
    %center
      %a{ :href => "images/screenshots/0.9.0/catalog_list.png",
          :target => "_blank" }
        %img.thumbnail{ :src => "images/screenshots/0.9.0/thumbnails/catalog_list_thumb.png",
              :title => "Catalog list - click to view at full size in a new window",
              :alt => "Catalog list - click to view at full size in a new window" ,
              :width => 500,
              :height => 328 }
      %br
      %em Catalog list

  %p &nbsp;

  %p
    %center
      %a{ :href => "images/screenshots/0.9.0/pool_families_images.png",
          :target => "_blank" }
        %img.thumbnail{ :src => "images/screenshots/0.9.0/thumbnails/pool_families_images_thumb.png",
              :title => "Image list - click to view at full size in a new window",
              :alt => "Image list - click to view at full size in a new window" ,
              :width => 500,
              :height => 301 }
      %br
      %em Image list

  %p &nbsp;

  %p
    %center
      %a{ :href => "images/screenshots/0.9.0/pool_list.png",
          :target => "_blank" }
        %img.thumbnail{ :src => "images/screenshots/0.9.0/thumbnails/pool_list_thumb.png",
              :title => "Pool list - click to view at full size in a new window",
              :alt => "Pool list - click to view at full size in a new window" ,
              :width => 500,
              :height => 399 }
      %br
      %em Pool list

  %p &nbsp;

%br

&nbsp; 
%a.button{ :href => "features.html" }
  Features
  %img{:src => "images/button-right.png", :alt => "→"}
