---
title: Aeolus | Source Code locations
---
%h1 Source Code locations

%h2 Locations of all Aeolus source code repositories

.section-grouping
  %h3 Aeolus-cli

  %p
    GitHub page:

  %p
    %pre
      %a.whitehref(href="https://github.com/aeolusproject/aeolus-cli") https://github.com/aeolusproject/aeolus-cli

  %p
    Git repo:

  %p
    %pre git://github.com/aeolusproject/aeolus-cli.git

%br

.section-grouping
  %h3 Aeolus-image-rubygem

  %p
    GitHub page:

  %p
    %pre
      %a.whitehref(href="https://github.com/aeolusproject/aeolus-image-rubygem") https://github.com/aeolusproject/aeolus-image-rubygem

  %p
    Git repo:

  %p
    %pre git://github.com/aeolusproject/aeolus-image-rubygem.git

%br

.section-grouping
  %h3 Audrey

  %p
    GitHub page:

  %p
    %pre
      %a.whitehref(href="https://github.com/aeolusproject/audrey") https://github.com/aeolusproject/audrey

  %p
    Git repo:

  %p
    %pre git://github.com/aeolusproject/audrey.git

%br

.section-grouping
  %h3 Conductor

  %p
    GitHub page:

  %p
    %pre
      %a.whitehref(href="https://github.com/aeolusproject/conductor") https://github.com/aeolusproject/conductor

  %p
    Git repo:

  %p
    %pre git://github.com/aeolusproject/conductor.git

  %p
    Description of each branch:

  %p
    %pre
      %a.whitehref(href="https://www.aeolusproject.org/redmine/projects/aeolus/wiki/GitHub_Branches_and_Tags") https://www.aeolusproject.org/redmine/projects/aeolus/wiki/GitHub_Branches_and_Tags

%br

.section-grouping
  %h3 Configure

  %p
    GitHub page:

  %p
    %pre
      %a.whitehref(href="https://github.com/aeolusproject/aeolus-configure") https://github.com/aeolusproject/aeolus-configure

  %p
    Git repo:

  %p
    %pre git://github.com/aeolusproject/aeolus-configure.git

%br

.section-grouping
  %h3 ImageFactory

  %p
    GitHub page:

  %p
    %pre
      %a.whitehref(href="https://github.com/aeolusproject/imagefactory") https://github.com/aeolusproject/imagefactory

  %p
    Git repo:

  %p
    %pre git://github.com/aeolusproject/imagefactory.git

%br

.section-grouping
  %h3 Image Warehouse

  %p
    Fedora Hosted page:

  %p
    %pre
      %a.whitehref(href="http://git.fedorahosted.org/git/?p=iwhd.git") http://git.fedorahosted.org/git/?p=iwhd.git

  %p
    Git repo:

  %p
    %pre git://git.fedorahosted.org/iwhd.git

%br

.section-grouping
  %h3 Oz

  %p
    GitHub page:

  %p
    %pre
      %a.whitehref(href="https://github.com/clalancette/oz") https://github.com/clalancette/oz

  %p
    Git repo:

  %p
    %pre git://github.com/clalancette/oz.git

%br

.section-grouping
  %h3 User Experience Designs

  %p
    GitHub page:

  %p
    %pre
      %a.whitehref(href="https://github.com/aeolusproject/aeolus-ux-designs") https://github.com/aeolusproject/aeolus-ux-designs

  %p
    Git repo:

  %p
    %pre git://github.com/aeolusproject/aeolus-ux-designs.git

%br

.section-grouping
  %h3 Website

  %p
    GitHub page:

  %p
    %pre
      %a.whitehref(href="https://github.com/aeolusproject/aeolus-website") https://github.com/aeolusproject/aeolus-website

  %p
    Git repo:

  %p
    %pre git://github.com/aeolusproject/aeolus-website.git

%br

%h2 Repositories for Aeolus dependencies

.section-grouping
  %h3 libdeltacloud

  %p
    Website:

  %p
    %pre
      %a.whitehref(href="http://www.deltacloud.org") http://www.deltacloud.org

  %p
    Git repo:

  %p
    %pre git://git.fedorahosted.org/deltacloud/libdeltacloud.git
