---
title: Aeolus Project - Audrey
area: projects
extension: html
filter:
  - haml
---
%h1 Audrey

%p Audrey is a set of tools to do runtime configuration of running cloud instances.

%h2 Config Server

%p
  %b Documentation not yet ready

%h2 Agent

%p
  %b Agent Setup
  \:
  %a{ :href => "http://aeolusproject.org/page/Audrey_Audrey-Start-Setup",
      :title => "Audrey Agent Setup" }
    wiki page
