---
title: Aeolus Project - Audrey
area: projects
extension: html
filter:
  - haml
---
%h1 Audrey

%p Audrey is a set of tools to do runtime configuration of running cloud instances.

%h2 Configserver

%p
  %b Config Server Setup
  \:
  %a{ :href => "https://www.aeolusproject.org/redmine/projects/audrey/wiki/Configserver_Setup",
      :title => "Config Server Setup" }
    wiki page

%h2 Agent

%p
  %b Agent Setup
  \:
  %a{ :href => "http://aeolusproject.org/page/Audrey_Audrey-Start-Setup",
      :title => "Audrey Agent Setup" }
    wiki page
