---
title: Aeolus | Configuration Documentation
breadcrumb_name: Configuration Documentation
extension: html
filter: haml
---
%h1 Configuring Aeolus

%p
  These next pages get you up and running with Aeolus using our
  <b>Getting Started Guide</b>.

%p
  They take you through initial configuration, connecting with Amazon EC2,
  then doing very simple instance management with it.

.page-listing
  %h3 Getting Started Guide

  %ol
    %li
      Configuring Aeolus

    %li
      %a{ :href => "first_login.html",
          :title => "First login" } First login

    %li
      %a{ :href => "set_up_ec2.html",
          :title => "Configuring for Amazon EC2" } Configuring for Amazon EC2

    %li
      %a{ :href => "make_template.html",
          :title => "Create a Fedora 14 Template" } Create a Fedora 14 Template

    %li
      %a{ :href => "start_image.html",
          :title => "Start an Instance of the Image" } Start an Instance of the Image

    %li
      %a{ :href => "stop_image.html",
          :title => "Stop a running Instance" } Stop a running Instance

    %li
      %a{ :href => "cleaning_up.html",
          :title => "Cleaning up" } Cleaning up

%br

.section-grouping
  %h2 Initial configuration

  %p
    Most configuration for Aeolus is done through its web interface.

  %p
    To turn on this web interface, we take a few simple steps:

  %ol
    %li
      %a{ :href => "#aeolus-configure" } Run aeolus-configure

    %li
      <a href="#selinux-enforcing">Turn off SELinux Enforcing mode</a> (if it's on)

    %li
      <a href="#update-firewall">Update the firewall</a> (if it's on)

%br

.section-grouping
  %h3(id="aeolus-configure") 1. Run aeolus-configure

  %p
    The very first step is to run the
    %b aeolus-configure
    command with super-user privileges:

  %p
    %pre
      :preserve
        $ sudo /usr/sbin/aeolus-configure

  %p
    This performs an initial configuration of Aeolus with default settings.

  %p
    It is fully automatic, and doesn't require any input.  It will take a
    while (can be several minutes), generating a fair amount of text.

  %p
    As part of this automatic configuration each Aeolus component is
    initialized, a PostgreSQL database is created, and the web interface is
    activated.

%br

.section-grouping
  %h3(id="selinux-enforcing") 2. Turn off SELinux Enforcing mode

  %p
    Aeolus needs the server it is installed on, to not be running in
    SELinux "<em>Enforcing</em>" mode.

  %p
    To make sure this is the case, check the configuration file here:

  %p
    %pre
      :preserve
        /etc/selinux/config

  %p
    Look for the line starting with '<b>SELINUX=</b>'.  If it is set to
    "<em>enforcing</em>" then you
    %b must
    change it to "<i>permissive</i>" or "<i>disabled</i>" (either one is ok).

  %p
    For example, from this:

  %p
    %pre
      :preserve
        SELINUX=enforcing

  %p
    to this:

  %p
    %pre
      :preserve
        SELINUX=permissive

  %p
    This change will take effect with the next reboot.

  %p
    %b NOTE:
    This is just a temporary requirement at this stage of Aeolus development.
    By the time Aeolus is ready for general usage, it will work properly with
    SELinux in enforcing mode.

%br

.section-grouping
  %h3(id="update-firewall") 3. Update the firewall

  %p
    Because Aeolus has a secure web based user interface, the server running
    it needs to accept web browser connections (to TCP port 443).

  %p
    If a firewall is running on the Aeolus server, it needs updating to allow
    those connections.

  %p
    For the standard iptables firewall on Fedora or RHEL, add this line: 
    %pre
      :preserve
        -A INPUT -m state --state NEW -m tcp -p tcp --dport 443 -j ACCEPT
  %p
    To both of these files (one is for IPv4, one is for IPv6):

  %p
    %pre
      :preserve
        /etc/sysconfig/iptables
        /etc/sysconfig/ip6tables

  %p
    The correct place is in the
    %b OUTPUT
    chain, just before the
    %b REJECT
    lines start.

  %p
    For example, this is the default
    %em /etc/sysconfig/iptables
    file, with the line added (in blue):

  %p
    %pre
      :preserve
        *filter
        :INPUT ACCEPT [0:0]
        :FORWARD ACCEPT [0:0]
        :OUTPUT ACCEPT [0:0]
        -A INPUT -m state --state ESTABLISHED,RELATED -j ACCEPT
        -A INPUT -p icmp -j ACCEPT
        -A INPUT -i lo -j ACCEPT
        -A INPUT -m state --state NEW -m tcp -p tcp --dport 22 -j ACCEPT
        <span style="color: blue">-A INPUT -m state --state NEW -m tcp -p tcp --dport 443 -j ACCEPT</span>
        -A INPUT -j REJECT --reject-with icmp-host-prohibited
        -A FORWARD -j REJECT --reject-with icmp-host-prohibited
        COMMIT

  %p
    Do the same for the
    %em ip6tables
    file as well.

  %p The firewall rules then need to be reloaded:
  
  %p
    %pre
      :preserve
        $ sudo service iptables restart
        iptables: Flushing firewall rules:                         [  <span style="color: chartreuse">OK</span>  ]
        iptables: Setting chains to policy ACCEPT: nat mangle filte[  <span style="color: chartreuse">OK</span>  ]
        iptables: Unloading modules:                               [  <span style="color: chartreuse">OK</span>  ]
        iptables: Applying firewall rules:                         [  <span style="color: chartreuse">OK</span>  ]

  %p
    %pre
      :preserve
        $ sudo service ip6tables restart
        ip6tables: Flushing firewall rules:                        [  <span style="color: chartreuse">OK</span>  ]
        ip6tables: Setting chains to policy ACCEPT: filter         [  <span style="color: chartreuse">OK</span>  ]
        ip6tables: Unloading modules:                              [  <span style="color: chartreuse">OK</span>  ]
        ip6tables: Applying firewall rules:                        [  <span style="color: chartreuse">OK</span>  ]

%br

%a.button{ :href => "first_login.html", :title => "First Login" }
  First Login
  %img{:src => "images/button-right.png", :alt => "→"}
