---
title: Aeolus | Detailed concepts
breadcrumb_name: Detailed concepts
extension: html
filter: haml
---
%h1 Detailed concepts

%h2
  Gives the details on the components (sub-projects) in Aeolus and their
  interaction

%p
  %b
    Use diagrams / pics to explain things well.
    %br
    %br If time permits, animation might be useful.
