---
title: Aeolus | Developers Documentation
breadcrumb_name: Developers Documentation
extension: html
filter: haml
---
%h1 Documentation for Developers

%p
  This page is a launching point for all developer documentation.
  %br
  Not much here yet, but it will expand significantly over time.

  
%ul
  -#%li
    %a{ :href => "detailed_concepts.html" } Detailed concepts
    %br
    %br
  %li
    %a{ :href => "source.html" } Aeolus source code repositories
    %br
    %br
  %li
    %a{ :href => "compiling.html" } Instructions for compiling Aeolus
    %br
    %br
  %li
    %a{ :href => "patches.html", :title => "Guide to submitting patches" } Submitting patches
    %br
    %br
  %li
    %a{ :href => "https://bugzilla.redhat.com/buglist.cgi?classification=Red%20Hat&query_format=advanced&bug_status=NEW&bug_status=ASSIGNED&bug_status=MODIFIED&product=Cloud%20Engine", :title => "List of open bugs" } Open bugs
    %br
    %br
  %li
    %a{ :href => "https://www.aeolusproject.org/redmine/", :title => "Project Planning in Redmine" } Planning
    (Redmine)
    %br
    This is where planning for Aeolus development happens.
    %br Scenarios, features, use cases, and more.
