---
title: Aeolus | First login
breadcrumb_name: First login
extension: html
filter: haml
---
%h1 First login

%p
  On this page, you will log into Aeolus, be introduced to the main parts of
  the web based interface, and change the administrator password.

.page-listing
  %h3 Getting Started Guide

  %ol
    %li
      %a{ :href => "configuring_aeolus.html",
          :title => "Configure Aeolus" }
        Configure Aeolus

    %li
      First login

      %ol{ :style => "list-style-type: lower-alpha" }
        %li
          %a{ :href=> "#first-login" } Web based interface 

        %li
          %a{ :href=> "#welcome" } Welcome screen

        %li
          %a{ :href=> "#change-passwd" } Change the administrator password

    %li
      %a{ :href => "vsphere_4_1_configuration_aeolus_0_3_0.html",
          :title => "Configure for VMware vSphere 4.1" }
        Configure for VMware vSphere 4.1

    %li
      %a{ :href => "set_up_ec2.html",
          :title => "Configure for Amazon EC2" }
        Configure for Amazon EC2

    %li
      %a{ :href => "create_deployable.html",
          :title => "Create a Deployable" }
        Create a Deployable

    %li
      %a{ :href => "start_deployable.html",
          :title => "Start a Deployable" }
        Start a Deployable

    %li
      %a{ :href => "stop_deployable.html",
          :title => "Stop a running Deployable" }
        Stop a Deployable

    %li
      %a{ :href => "cleaning_up.html",
          :title => "Cleaning up" }
        Cleaning up

%br
  
.section-grouping
  %h2(id="first-login") a. Web based interface

  %p
    After Aeolus has been initialized, with any SELinux and firewall updates
    done, you are ready to use the web interface.

  %p
    Open the following address in your web browser (any modern one), using the
    name of your Aeolus server instead of "<b>server_name</b>":

  %p
    %pre
      :preserve
        https://server_name/conductor

  %p
    %b USEFUL INFO:
    Aeolus is really several pieces of software that work together.
    "Conductor" is the piece providing the web based user interface.  

  %p
    If everything is working properly, the initial login screen will appear:

  %p
    %center
      %a{ :href => "images/getting_started/initial_login_screen.png",
          :target => "_blank" }
        %img.thumbnail{ :src => "images/getting_started/thumbnails/initial_login_screen_thumb.png",
              :title => "Initial login screen - click to view at full size in a new window",
              :alt => "Initial login screen - click to view at full size in a new window" }

  %p
    Login now, using the default administrator details set by
    <b>aeolus-configure</b>:

  %p
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    %b Username:
    admin
    %br
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    %b Password:
    password

  %p
    We'll change that password in the next step.

%br

.section-grouping
  %h2(id="welcome") b. Welcome screen

  %p
    Once you've logged in, the main Aeolus web interface appears:

  %p
    %center
      %a{ :href => "images/getting_started/initial_welcome_screen.png",
          :target => "_blank" }
        %img.thumbnail{ :src => "images/getting_started/thumbnails/initial_welcome_screen_thumb.png",
              :title => "Initial welcome screen - click to view at full size in a new window",
              :alt => "Initial welcome screen - click to view at full size in a new window" }

  %p
    The
    %b MONITOR
    and
    %b ADMINISTER
    tabs near the top change the view in the main window area.

  %p
    When the
    %b MONITOR
    tab is selected, the main window area provides live status information
    for all virtual infrastructure under management, across all configured
    Cloud Providers.

  %p
    When the
    %b ADMINISTER
    tab is selected, the main window area is for changing Aeolus
    configuration settings.

  %p
    To switch to a specific configuration topic, select it in the
    %b Control Panel
    drop down list up in the top right:     

  %p
    %center
      %a{ :href => "images/getting_started/aeolus_0_3_0_administer_showing_control_panel.png",
          :target => "_blank" }
        %img.thumbnail{ :src => "images/getting_started/thumbnails/aeolus_0_3_0_administer_showing_control_panel_thumb.png",
              :title => "Administer and control panel - click to view at full size in a new window",
              :alt => "Administer and control panel - click to view at full size in a new window" }

%br

.section-grouping
  %h2(id="change-passwd") c. Change the administrator password

  %p
    Our first step is changing the password of the
    %b admin
    user.

  %p
    In the top menu bar, click the silhouette button to the right of the words
    "<b>aeolus user</b>".

  %p
    %center
      %a{ :href => "images/getting_started/aeolus_0_3_0_display_my_account_option.png",
          :target => "_blank" }
        %img.thumbnail{ :src => "images/getting_started/thumbnails/aeolus_0_3_0_display_my_account_option_thumb.png",
              :title => "Show the My Account link - click to view at full size in a new window",
              :alt => "Show the My Account link - click to view at full size in a new window" }

  %p
    A small menu of options will be displayed.  Click the "<b>My Account</b>"
    option.

  %p
    This takes you to a screen displaying the details for the
    %b admin
    user.  Click the
    %b Edit
    button, so changes can be made:

  %p
    %center
      %a{ :href => "images/getting_started/aeolus_0_3_0_admin_user_click_edit_button.png",
          :target => "_blank" }
        %img.thumbnail{ :src => "images/getting_started/thumbnails/aeolus_0_3_0_admin_user_click_edit_button_thumb.png",
              :title => "Read only user details screen - click to view at full size in a new window",
              :alt => "Read only user details screen - click to view at full size in a new window" }

  %p
    Change the password now, using the "<b>Change password</b>" and
    "<b>Confirm password</b>" fields:

  %p
    %center
      %a{ :href => "images/getting_started/change_password_screen.png",
          :target => "_blank" }
        %img.thumbnail{ :src => "images/getting_started/thumbnails/change_password_screen_thumb.png",
              :title => "Update user details screen - click to view at full size in a new window",
              :alt => "Update user details screen - click to view at full size in a new window" }

  %p
    If you want, also change the First name, Last name, and E-mail fields.

  %p
    Click the "<b>Save</b>" button when you're done.

%br

%a.button{ :href => "vsphere_4_1_configuration_aeolus_0_3_0.html",
           :title => "Configure for VMware vSphere 4.1" }
  Configure for vSphere
  %img{:src => "images/button-right.png", :alt => "→"}
