---
title: Aeolus | Get It
breadcrumb_name: Get It
extension: html
filter: haml
---
%h1 Get Aeolus

.section-grouping
  Aeolus has both
  <b>Stable</b>,
  and (bleeding edge)
  %b Development Testing
  packages.

  %p
    The
    %b Stable
    packages have been tested with each other, and are known to work.  Most
    people should use these.

  %p
    Only use the
    %b Development Testing
    packages when you are doing development, or looking for a specific bug
    fix.

  %h2 Which packages do you want?

  %ul
    %li
      %a(href="#stable" title="Stable Release packages")
        Stable Release
    %li
      %a(href="#dev" title="Development Testing packages")
        Development Testing

%br

%h1(id="stable" style="margin-top:0") Stable Release

%p
  Stable packages are available for Fedora 14 x86_64 and RHEL 6.1.

%ul
  %li
    %b Install the
    <a href="#stablerhel61" title="Red Hat Enterprise Linux 6.1 packages">Red Hat Enterprise Linux 6.1</a>
    packages

    %br
    %br

  %li
    %b Install the
    <a href="#stablefedora" title="Fedora 14 x86_64 packages">Fedora 14 x86_64</a>
    packages

.section-grouping

  %h2(id="stablerhel61")
    Install the stable Red Hat Enterprise Linux 6.1 x86_64 packages

  %h3
    1. If the system is using RHN Classic, enable the RHEL 6.1 Optional
    Channel

  %p.note
    This step isn't needed if you're using RHN Subscription Management.

  %p
    %pre
      $ sudo rhn-channel --add --channel=rhel-x86_64-server-optional-6

  %h3 2. Add the Aeolus RHEL 6.1 Stable yum repository

  %p
    %pre
      :preserve
        $ sudo wget -O /etc/yum.repos.d/rhel-aeolus.repo \
        &nbsp; http://repos.fedorapeople.org/repos/aeolus/conductor/rhel-aeolus.repo

  %h3 3. Install the Aeolus packages

  %p
    &nbsp;&nbsp;&nbsp;&nbsp;
    If you are using RHN Classic, use this command to install Aeolus:

  %p
    %pre
      $ sudo yum install aeolus-all

  %p
    &nbsp;&nbsp;&nbsp;&nbsp;
    If you are using RHN Subscription Management (instead of RHN Classic), use
    this command to install Aeolus:

  %p
    %pre
      :preserve
        $ sudo yum install aeolus-all --enablerepo=rhel-6-server-optional-rpms

  %p
    &nbsp;&nbsp;&nbsp;&nbsp; This will install Aeolus along with its
    dependencies on the RHEL 6.1 x86_64 system.

  %p
    &nbsp;&nbsp;&nbsp;&nbsp;
    %a.button{ :href => "configuring_aeolus.html" }
      Configure It
      %img{:src => "images/button-right.png", :alt => "→"}

%br

.section-grouping
  %h2(id="stablefedora") Install the stable Fedora 14 x86_64 packages

  %h3 1. Add the Aeolus Fedora 14 Stable yum repository

  %p
    %pre
      :preserve
        $ sudo wget -O /etc/yum.repos.d/fedora-aeolus.repo \
        &nbsp; http://repos.fedorapeople.org/repos/aeolus/conductor/fedora-aeolus.repo

  %h3 2. Install the Aeolus packages

  %p
    %pre
      :preserve
        $ sudo yum install aeolus-all

  %p
    &nbsp;&nbsp;&nbsp;&nbsp; This will install Aeolus along with its
    dependencies on the Fedora 14 system.

  %p
    &nbsp;&nbsp;&nbsp;&nbsp;
    %a.button{ :href => "configuring_aeolus.html" }
      Configure It
      %img{:src => "images/button-right.png", :alt => "→"}

%br
%br

%h1(id="dev" style="margin-top:0") Development Testing

%p
  Development testing packages are available for Fedora 15 x86_64 and RHEL
  6.1.

%ul
  %li
    %b Install the
    <a href="#devrhel61" title="Red Hat Enterprise Linux 6.1 packages">Red Hat Enterprise Linux 6.1</a>
    packages

    %br
    %br

  %li
    %b Install the
    <a href="#devfedora" title="Fedora 15 x86_64 packages">Fedora 15 x86_64</a>
    packages

.section-grouping

  %h2(id="devrhel61")
    Install the Red Hat Enterprise Linux 6.1 x86_64 testing packages

  %h3
    1. If the system is using RHN Classic, enable the RHEL 6.1 Optional
    Channel

  %p.note
    This step isn't needed if you're using RHN Subscription Management.

  %p
    %pre
      $ sudo rhn-channel --add --channel=rhel-x86_64-server-optional-6

  %h3 2. Add the Aeolus RHEL 6.1 Testing yum repository

  %p
    %pre
      :preserve
        $ sudo wget -O /etc/yum.repos.d/rhel-aeolus-testing.repo \
        &nbsp; http://repos.fedorapeople.org/repos/aeolus/conductor/testing/rhel-aeolus-testing.repo

  %h3 3. Install the Aeolus packages

  %p
    &nbsp;&nbsp;&nbsp;&nbsp;
    If you are using RHN Classic, use this command to install Aeolus:

  %p
    %pre
      $ sudo yum install aeolus-all

  %p
    &nbsp;&nbsp;&nbsp;&nbsp;
    If you are using RHN Subscription Management (instead of RHN Classic), use
    this command to install Aeolus:

  %p
    %pre
      $ sudo yum install aeolus-all --enablerepo=rhel-6-server-optional-rpms

  %p
    &nbsp;&nbsp;&nbsp;&nbsp; This will install the latest Aeolus testing
    packages, along with their dependencies, on the RHEL 6.1 x86_64 system.

  %p
    &nbsp;&nbsp;&nbsp;&nbsp;
    %a.button{ :href => "configuring_aeolus.html" }
      Configure It
      %img{:src => "images/button-right.png", :alt => "→"}

%br

.section-grouping
  %h2(id="devfedora") Install the Fedora 15 x86_64 testing packages

  %h3 1. Add the Aeolus Fedora 15 Testing yum repository

  %p
    %pre
      :preserve
        $ sudo wget -O /etc/yum.repos.d/fedora-aeolus-testing.repo \
        &nbsp; http://repos.fedorapeople.org/repos/aeolus/conductor/testing/fedora-aeolus-testing.repo

  %h3 2. Install the Aeolus packages

  %p
    %pre
      :preserve
        $ sudo yum install aeolus-all

  %p
    &nbsp;&nbsp;&nbsp;&nbsp; This will install the latest Aeolus testing
    packages, along with their dependencies, on the Fedora 15 system.

  %p
    &nbsp;&nbsp;&nbsp;&nbsp;
    %a.button{ :href => "configuring_aeolus.html" }
      Configure It
      %img{:src => "images/button-right.png", :alt => "→"}
