---
title:       Aeolus | Manage Your Cloud Deployments with Ease
extension: html
filter: haml
---
#front-page-main-upper
  %hr.shade
  .container_24
    .grid_8
      %img.logo{:src => "images/logo-frontpage.png", :alt => "AEOLUS"}
    .grid_16
      %h1 
        Aeolus 
        %sup TM
      %h2 
        Meet the world's best cloud management software, 
        %br
        %strong and it's free.
      
      .frontpagebuttons
        %a.learn{ :href => "about.html" }
          %img{ :src => "images/learn_more_button_center_area.jpg", :title => "Learn More about Aeolus", :alt => "Learn More button", :onMouseOver => 'setAttribute("src", "images/learn_more_button_center_area-selected.jpg");', :onMouseOut => 'setAttribute("src", "images/learn_more_button_center_area.jpg");' }    
        %a.get{ :href => "get_it.html" }
          %img{ :src => "images/get_aeolus_button_center_area.jpg", :title => "Get Aeolus", :alt => "Get Aeolus button", :onMouseOver => 'setAttribute("src", "images/get_aeolus_button_center_area-selected.jpg");', :onMouseOut => 'setAttribute("src", "images/get_aeolus_button_center_area.jpg");' }

#front-page-main-lower.container_24.clearfix
  .grid_8
    %h1 What is Aeolus?

    %p Aeolus is software for running virtual machines  both internally in your own equipment, and in Clouds from several leading vendors.  All at  the same time.

    %p REDUCE YOUR RISK  of being caught out whenever your preferred Cloud vendor has issues.   


  .grid_8
    %h1 Developer Info

    %h3 Aeolus:
    
    %ul
      %li Is Open Source
      %li Is written in Ruby <em>(well, most of it)</em>
      %li Runs on Linux <em>(some parts work on OSX)</em>
      %li Has a growing Community
      %li Is sponsored by Red Hat, Inc.

  .grid_8
    %h1 Recent News

    %p 
      %strong 4th May 2011 - New website !

    %p We're very proud to launch our new website.  It will provide a much nicer experience for people to learn Aeolus!
    
    %p Welcome Red Hat Summit visitors!

  .grid_24
    .grid_8.alpha
      %a.more{ :href => "about.html" }
        %img{ :src => "images/bottom_middle_more_button.png", :title => "About Aeolus", :alt => "About Aeolus", :onMouseOver => 'setAttribute("src", "images/bottom_middle_more_button-selected.png");', :onMouseOut => 'setAttribute("src", "images/bottom_middle_more_button.png");' }

    .grid_8
      %a.more{ :href => "developers.html" }
        %img{ :src => "images/bottom_middle_more_button.png", :title => "Get Aeolus", :alt => "Developer info", :onMouseOver => 'setAttribute("src", "images/bottom_middle_more_button-selected.png");', :onMouseOut => 'setAttribute("src", "images/bottom_middle_more_button.png");' }
   
    .grid_8.omega
      %a.more{ :href => "news.html" }
        %img{ :src => "images/bottom_middle_more_button.png", :title => "Read more news", :alt => "Read more news", :onMouseOver => 'setAttribute("src", "images/bottom_middle_more_button-selected.png");', :onMouseOut => 'setAttribute("src", "images/bottom_middle_more_button.png");' }
