---
title:       Aeolus | Manage Your Cloud Deployments with Ease
extension: html
filter: haml
---
#front-page-main-upper
  %hr.shade
  .container_24
    .grid_8
      %img.logo{:src => "images/logo-frontpage.png", :alt => "AEOLUS"}
    .grid_16
      %h1 
        Aeolus 
        %sup TM
      %h2 
        Meet the world's best cloud management software, 
        %br
        %strong and it's free.
      
      .frontpagebuttons
        %a.button{ :href => "about.html" }
          Learn More
          %img{:src => "images/button-right.png", :alt => "→"}
        %a.button{ :href => "get_it.html" }
          Get Aeolus 
          %img{:src => "images/button-down.png", :alt => "v"}

#front-page-main-lower.container_24.clearfix
  .grid_8
    %h1 What is Aeolus?

    %p
      Aeolus is software for running virtual machines both internally on your
      own equipment, and in Clouds from several leading vendors.  All at the
      same time.

    %p
      REDUCE YOUR RISK of being caught out whenever your preferred Cloud
      vendor has issues.

  .grid_8
    %h1 Developer Info

    %h3 Aeolus:
    
    %ul
      %li Is Open Source
      %li Is written in Ruby <em>(well, most of it)</em>
      %li
        Runs on Linux
        %br
        <em>(some parts also work on OSX)</em>
      %li Has a growing Community
      %li Is sponsored by Red Hat, Inc.

  .grid_8.news
    %h1 Recent News

    %p
      %a{ :href => "news.html#2011071201",
          :title => "News item: Image Warehouse 0.97 stable release" }
        %strong 12th July 2011 - Image Warehouse 0.97 stable release

    %p(style="margin-bottom: 2em")
      Image Warehouse 0.97 has been released.  This is a stable release
      with new features and bug fixes.

    %p
      %a{ :href => "news.html#2011063001",
          :title => "News item: Oz 0.5.0 now available" }
        %strong 30th June 2011 - Oz version 0.5.0 now available

    %p(style="margin-bottom: 2em")
      Oz version 0.5.0 has been released.  Release 0.5.0 is a bugfix and
      feature release for Oz.

  .grid_24
    .grid_8.alpha
      %a.button.small{ :href => "about.html" }
        More

    .grid_8
      %a.button.small{ :href => "developers.html" }
        More
   
    .grid_8.omega
      %a.button.small{ :href => "news.html" }
        More
