---
title: Aeolus | News
breadcrumb_name: News
extension: html
filter: haml
---
%h1 News

.grid_24
  %h2 4th May 2011: New website!

  %p
    The Aeolus Community have launched the second version of our main website.

  %p
    Designed by
    %a{ :href => "http://kyleabaker.com",
        :title => "Kyle Baker's personal website" } Kyle Baker
    from the Red Hat User Experience (UX) Team, this one is visually
    appealing, has a
    %b much
    cleaner look, and is very easy to locate information in.

  %p
    Importantly, this website begins addressing the needs of business and
    non-technical Aeolus users.  A marked improvement over the developer only
    focus of the previous website.

  %p
    It is expected this will be a key piece for Aeolus growing into the
    worlds best cloud deployment software.

  %p
    %a{ :href => "contact.html#business",
        :title => "Let us know what you think" } Let us know
    what you think. :)
