---
title: Aeolus Project - Oz Download
area: projects
subarea: oz
extension: html
filter:
  - haml
---
%h1 Download Oz

There are a few ways to get Oz.

%ol
  %li
    %strong Source Code Repository
    %pre
      git://github.com/clalancette/oz.git
  %li
    %strong Tarball
    %p
      %a{ :href => "http://repos.fedorapeople.org/repos/aeolus/oz/0.2.0/tarball/oz-0.2.0.tar.gz" }
        = "Release 0.2.0"
    %p
      %a{ :href => "http://repos.fedorapeople.org/repos/aeolus/oz/0.1.0/tarball/oz-0.1.0.tar.gz" }
        = "Release 0.1.0"
  %li
    %strong RPMs
    %p
      %a{ :href => "http://repos.fedorapeople.org/repos/aeolus/oz/0.2.0/packages" }
        = "Release 0.2.0 packages"
    %p
      %a{ :href => "http://repos.fedorapeople.org/repos/aeolus/oz/0.1.0/packages" }
        = "Release 0.1.0 packages"
