---
title: Aeolus Project - Oz Performance
area: projects
subarea: oz
extension: html
filter:
  - haml
---
%h1 Oz Performance

The speed at which Oz can successfully install an operating system depends on
a huge number of factors.  Below are some of the factors and how to make sure
that your environment can install guests at the very fastest speed.

%h3 Using KVM (as opposed to fully emulated Qemu)
This is one of the most common installation problems.  If Oz is run on a
machine that does not support KVM (older hardware or inside a virtual machine),
then it will fall back to using fully emulated Qemu.  This is extremely slow,
and can take several hours to do a single guest install.  For best results,
make sure that Oz is run on a machine that supports KVM, and make sure that
KVM is enabled and working.

%h3 Using a transparent proxy
If doing a URL based install, subsequent installs can be significantly
accelerated by setting up a transparent proxy to cache the installation pieces.
There is a very useful blog post about it here:
<a href="http://www.lesismore.co.za/squid3.html">Squid 3 Transparent Proxy</a>.
The basic steps to get this running are:
%ol
  %li Install Squid 3 or later onto the host machine.
  %li Setup the squid configuration file (typically something like /etc/squid/squid.conf) so it looks like:
  %pre
    ~ "  http_port 3128 transparent"
    ~ "hierarchy_stoplist cgi-bin ?"
    ~ "acl QUERY urlpath_regex cgi-bin \?"
    ~ "cache deny QUERY"
    ~ "acl apache rep_header Server ^Apache"
    ~ "access_log /var/log/squid/access.log squid"
    ~ "hosts_file /etc/hosts"
    ~ "refresh_pattern ^ftp: 1440 20% 10080"
    ~ "refresh_pattern ^gopher: 1440 0% 1440"
    ~ "refresh_pattern . 0 20% 4320"
    ~ ""
    ~ "# newer Squid's don't need all, it's built in:"
    ~ "acl all src 0.0.0.0/0.0.0.0"
    ~ ""
    ~ "# 1000MB max cache size (default is 100MB):"
    ~ "cache_dir ufs /var/spool/squid 1000 16 256"
    ~ ""
    ~ "acl manager proto cache_object"
    ~ "acl localhost src 127.0.0.1/255.255.255.255"
    ~ "acl to_localhost dst 127.0.0.0/8"
    ~ "acl SSL_ports port 443 563 # https, snews"
    ~ "acl SSL_ports port 873 # rsync"
    ~ "acl Safe_ports port 80 # http"
    ~ "acl Safe_ports port 21 # ftp"
    ~ "acl Safe_ports port 443 563 # https, snews"
    ~ "acl Safe_ports port 70 # gopher"
    ~ "acl Safe_ports port 210 # wais"
    ~ "acl Safe_ports port 1025-65535 # unregistered ports"
    ~ "acl Safe_ports port 280 # http-mgmt"
    ~ "acl Safe_ports port 488 # gss-http"
    ~ "acl Safe_ports port 591 # filemaker"
    ~ "acl Safe_ports port 777 # multiling http"
    ~ "acl Safe_ports port 631 # cups"
    ~ "acl Safe_ports port 873 # rsync"
    ~ "acl Safe_ports port 901 # SWAT"
    ~ "acl purge method PURGE"
    ~ "acl CONNECT method CONNECT"
    ~ "http_access allow manager localhost"
    ~ "http_access deny manager"
    ~ "http_access allow purge localhost"
    ~ "http_access deny purge"
    ~ "http_access deny !Safe_ports"
    ~ "http_access deny CONNECT !SSL_ports"
    ~ "http_access allow localhost"
    ~ "http_access allow localhost"
    ~ "http_access allow all"
    ~ "http_reply_access allow all"
    ~ "icp_access allow all"
    ~ "always_direct allow all"
    ~ "  coredump_dir /var/spool/squid"
  %li Start up squid.  This is typically done using something like:
  %pre
    ~ "  service squid start"
  %li Open up iptables to redirect traffic from the bridge to the squid proxy:
  %pre
    ~ "  iptables -t nat -A PREROUTING -i virbr0 -p tcp --dport 80 -j REDIRECT --to-port 3128"
    ~ "iptables -I INPUT 1 -p tcp -m tcp --dport 3128 -j ACCEPT"

%h3 Using Oz caching
Oz can do several types of caching on its own.  The behavior of Oz caching
can be controlled by the [cache] section of the configuration file.  By default
Oz will automatically cache the original installation media (ISO or floppy
disk) for operating systems; subsequent installs will not have to download the
media again.  If the modified_media key is set to True, Oz will also cache the
modified media (ISO or floppy) that it generated to do automated installs.
Subsequent installs will not have to download the media nor modify it again.
If the jeos key is set to True, Oz will also cache the disk image that results
from a successful install.  Subsequent installs will not have to download or
modify the installation media, and will not even have to run the operating
system installer again.

%h3 Using ISO installs when available
Some operating systems can be installed using either an ISO based install or
a URL based install.  The ISO based install uses the full installation
CD or DVD to do the install, while the URL based install typically uses a remote
HTTP/FTP directory tree to do the install, along with a small boot.iso to boot
the kernel and bring up the network.  While the URL based install is attractive
on fast, reliable networks, it can cause many problems over the WAN or the
internet.  If possible, choose to use an ISO based install for operating
systems.

%h3 Using install mirrors close to you
Especially while using URL based installs, but also while doing ISO installs,
it is always best to use install mirrors close to you.  This will ensure that
fetching ISOs/packages is as fast and as reliable as possible.
