---
title: Aeolus | Screenshots
breadcrumb_name: Screenshots
extension: html
filter: haml
---
%h1 Screenshots of Aeolus in action

%h2
  If at all possible, have the screenshots taken using the same code base
  that's being demo'd at RH Summit.

%br
%br

&nbsp;
%a{ :href => "get_it.html" }
  %img{ :src => "images/get_aeolus_right_arrow.png", :title => "Next step - Get Aeolus", :alt => "Next step - Get Aeolus", :onMouseOver => 'setAttribute("src", "images/get_aeolus_right_arrow-selected.png");', :onMouseOut => 'setAttribute("src", "images/get_aeolus_right_arrow.png");' } 