---
title: Aeolus | Set up EC2
breadcrumb_name: Set up EC2
extension: html
filter: haml
---
%h1 Configure for Amazon EC2

%p
  On this page you'll configure Aeolus to use Amazon EC2.  You'll need to
  have an existing account for EC2 with Amazon AWS.

.note
  %p
    %b NOTE -
    Using Amazon EC2 is optional.  If you don't have an account, and don't
    want to create one, just move on to the
    %a{ :href => "make_template.html",
        :title => "Create a Fedora 14 Template" } next page
    of this guide.

%br

.page-listing
  %h3 Getting Started Guide

  %ol
    %li
      %a{ :href => "configuring_aeolus.html",
          :title => "Configure Aeolus" }
        Configure Aeolus

    %li
      %a{ :href => "first_login.html",
          :title => "First login" }
        First login

    %li
      %a{ :href => "vsphere_4_1_configuration_aeolus_0_3_0.html",
          :title => "Configure for VMware vSphere 4.1" }
        Configure for VMware vSphere 4.1

    %li
      Configure for Amazon EC2

      %ol{ :style => "list-style-type: lower-alpha" }
        %li
          %a{ :href=> "#ec2-credentials" } Configure EC2 credentials in Aeolus 

        %li
          %a{ :href=> "#x509-certs" } X.509 Certificates

    %li
      %a{ :href => "create_deployable.html",
          :title => "Create a Deployable" }
        Create a Deployable

    %li
      %a{ :href => "start_deployable.html",
          :title => "Start a Deployable" }
        Start a Deployable

    %li
      %a{ :href => "stop_deployable.html",
          :title => "Stop a running Deployable" }
        Stop a Deployable

    %li
      %a{ :href => "cleaning_up.html",
          :title => "Cleaning up" }
        Cleaning up

%br

.warning
  %b WARNING:
  Amazon and other Cloud providers charge fees for using their products and
  services, including EC2.

  %p
    Setting up EC2 with Aeolus means your Amazon EC2 account will be billed
    with their appropriate usage charges as you follow this guide and/or try
    things out.

  %p
    We
    %b ARE NOT
    responsible for any EC2 or other Cloud fees and charges you may incur.
  
  %p
    As a precaution after finishing every Aeolus testing session, you
    %b must
    manually check all storage and instances in Amazon have been terminated
    and removed as you expect.

  %p
    Development versions of Aeolus have on occasion been known to report
    instances as stopped when they are in fact still running in EC2, thereby
    incurring charges from Amazon.

  %p
    %b BE CAREFUL!

%br

.section-grouping
  %h2(id="ec2-credentials") a. Configure EC2 credentials in Aeolus

  %p
    Follow these steps to configure Amazon EC2 with Aeolus.

  %p
    %ol
      %li
        %em In the Aeolus web interface
        (not the Amazon AWS Console) go to 
        <b>Administer &rArr; Provider Accounts</b>.

      %li
        Click the
        %b New Provider Account
        button up on the top right.

      %li
        Change
        %b Provider
        to be "<em>ec2-us-east-1</em>".

      %li
        For
        %b Account name
        use any descriptive string you want, such as
        "<em>Amazon EC2 East</em>".

      %li
        For <b>Access key</b>, use the
        %em Access Key ID
        value from the
        %b Access Keys
        tab on the AWS
        <a href="https://aws-portal.amazon.com/gp/aws/developer/account/index.html?action=access-key"
        title="Security Credentials">Account &rArr; Security Credentials</a>
        page.
        %br

      %li
        For <b>Secret access key</b>, use the corresponding
        %em Secret Access Key
        value also from the AWS
        <a href="https://aws-portal.amazon.com/gp/aws/developer/account/index.html?action=access-key"
        title="Security Credentials">Account &rArr; Security Credentials</a>
        page.
        %br

      %li
        For <b>Account number</b>, use the
        %em AWS Account ID
        value at the bottom of the AWS
        <a href="https://aws-portal.amazon.com/gp/aws/developer/account/index.html?action=access-key"
        title="Security Credentials">Account &rArr; Security Credentials</a>
        page, under the heading <b>Account Identifiers</b>.
        %br

%br

.section-grouping
  %h2(id="x509-certs") b. X.509 Certificates

  %p
    If you already have an existing EC2 X.509 certificate and private key,
    use those for the EC2 X.509 fields.  The private key is used for the
    %b Key
    field, and the certificate is used for the
    %b Certificate
    field.

  %p
    Alternatively, or if you don't have an X.509 Certificate yet, you can
    create a new one:

  %p
    %ol
      %li
        On the AWS
        <a href="https://aws-portal.amazon.com/gp/aws/developer/account/index.html?action=access-key"
        title="Security Credentials">Account &rArr; Security Credentials</a>
        page, under
        %b Access Credentials
        click the
        %em X.509 Certificates
        tab.

      %li
        Click <b>Create a new Certificate</b>.
        %br
        %br
        A new window will open giving options to download and save the Private
        Key and X.509 Certificate files.
        %br
        %br

      %li
        Download and save the Private Key file using a name that is clear to
        understand, such as <em>EC2 X509 Private Key.pem</em>.

      %li
        Download and save the Certificate file using a name that is clear to
        understand, such as <em>EC2 X509 Certificate.pem</em>.

      %li
        Back in Aeolus, use the
        %em EC2 X509 Private Key.pem
        file for the      
        %b Key
        field.
        %br

      %li
        Use the
        %em EC2 X509 Certificate.pem
        file for the 
        %b Certificate
        field.
        %br

      %li
        Click the
        %b Save
        button.

  %p
    Aeolus will now create a new Provider Account using the details provided.
  
  %p
    When that has completed, you should be presented with a status message
    indicating success:

  %p
    %center
      %a{ :href => "images/getting_started/ec2_provider_acct_added.png",
          :target => "_blank" }
        %img.thumbnail{ :src => "images/getting_started/thumbnails/ec2_provider_acct_added_thumb.png",
              :title => "EC2 Provider Account added - click to view at full size in a new window",
              :alt => "EC2 Provider Account added - click to view at full size in a new window",
              :width => 500,
              :height => 305 }

%br

%a.button{ :href => "create_deployable.html", :title => "Create a Deployable" }
  Create Deployable
  %img{:src => "images/button-right.png", :alt => "→"}
