---
title: Aeolus | Source Code locations
breadcrumb_name: Source Code locations
extension: html
filter: haml
---
%h1 Source Code locations

%h2 Locations of all Aeolus source code repositories

.section-grouping
  %h3 Aeolus-cli

  %pre git://github.com/aeolusproject/aeolus-cli.git

%br

.section-grouping
  %h3 Aeolus-image-rubygem

  %pre git://github.com/aeolusproject/aeolus-image.git

%br

.section-grouping
  %h3 Audrey

  %pre git://github.com/aeolusproject/audrey.git

%br

.section-grouping
  %h3 Conductor

  %pre git://github.com/aeolusproject/conductor.git

%br

.section-grouping
  %h3 Configure

  %pre git://github.com/aeolusproject/aeolus-configure.git

%br

.section-grouping
  %h3 ImageFactory

  %pre git://github.com/aeolusproject/imagefactory.git

%br

.section-grouping
  %h3 Image Warehouse

  %pre git://git.fedorahosted.org/iwhd.git

%br

.section-grouping
  %h3 Oz

  %pre git://github.com/clalancette/oz.git

%br

.section-grouping
  %h3 Spherical

  %pre git://github.com/aeolusproject/spherical.git

%br

.section-grouping
  %h3 Website

  %pre git://github.com/aeolusproject/aeolus-website.git

%br

%h2 Repositories for Aeolus dependencies

.section-grouping
  %h3 Apache Qpid&trade;

  %p
    %pre git://git.apache.org/qpid.git qpid

  %p
    Web site:
    %a{ :href => "http://qpid.apache.org", :title => "Apache Qpid home page" } http://qpid.apache.org

  #trademark
    Apache, Qpid, and Apache Qpid are trademarks of The Apache Software Foundation.

%br

.section-grouping
  %h3 Condor

  %p
    %pre http://git.condorproject.org/repos/condor.git

  %p
    Web site:
    %a{ :href => "http://www.cs.wisc.edu/condor/", :title => "Condor home page" } http://www.cs.wisc.edu/condor/

%br

.section-grouping
  %h3 libdeltacloud

  %p
    %pre git://git.fedorahosted.org/deltacloud/libdeltacloud.git

  %p
    Web site:
    %a{ :href => "http://www.deltacloud.org", :title => "Deltacloud home page" } http://www.deltacloud.org
