---
title: Aeolus | Stop a running Deployable
breadcrumb_name: Stop a running Deployable
extension: html
filter: haml
---
%h1 Stop a running Deployable

.warning
  %b NOTE -
  This guide was initially written for the previous Aeolus release, version
  0.2.0, and still needs updating for version 0.3.0.
  %br
  %b (in progress)
  
  %p
    The template creation process and all Aeolus screenshots are now
    substantially different.

.page-listing
  %h3 Getting Started Guide

  %ol
    %li
      %a{ :href => "configuring_aeolus.html",
          :title => "Configure Aeolus" }
        Configure Aeolus

    %li
      %a{ :href => "first_login.html",
          :title => "First login" }
        First login

    %li
      %a{ :href => "vsphere_4_1_configuration_aeolus_0_3_0.html",
          :title => "Configure for VMware vSphere 4.1" }
        Configure for VMware vSphere 4.1

    %li
      %a{ :href => "set_up_ec2.html",
          :title => "Configure for Amazon EC2" }
        Configure for Amazon EC2

    %li
      %a{ :href => "make_deployable.html",
          :title => "Create a Deployable" }
        Create a Deployable

    %li
      %a{ :href => "start_deployable.html",
          :title => "Start a Deployable" }
        Start a Deployable

    %li
      Stop a Deployable

      %ol{ :style => "list-style-type: lower-alpha" }
        %li
          %a{ :href=> "#stop-instance" }
            Stopping an Instance 

        %li
          %a{ :href=> "#check-for-leftovers" }
            Check for instances left running in EC2

    %li
      %a{ :href => "cleaning_up.html",
          :title => "Cleaning up" }
        Cleaning up

%br

.section-grouping
  %h2(id="stop-instance") a. Stopping an Instance

  %p
    Shutting down a running instance is very simple.

  %p
    %ol
      %li
        In the Aeolos web interface, go to
        %b RESOURCE MANAGEMENT
        &rArr;
        <b>INSTANCES</b>.

      %li
        Tick the checkbox next to the instance name in the instance list.
        
      %li
        Click the
        %b Stop
        button:
        
  %p
    &nbsp;&nbsp;&nbsp;
    %img{ :src => "images/getting_started/aeolus_stop_instance_button.png",
          :title => "Shutting down the instance",
          :alt => "Shutting down the instance" }

  %p
    Within a minute or two the instance status should change to say
    <em>stopped</em>:

  %p
    &nbsp;&nbsp;&nbsp;
    %img{ :src => "images/getting_started/aeolus_instance_stopped.png",
          :title => "Instance has stopped",
          :alt => "Instance has stopped" }

  %p
    Note though, automatic updates of the Aeolus web interface don't
    always work yet.  You may need to refresh the window manually for the
    %em stopped
    status to appear.

%br

.section-grouping
  %h2(id="check-for-leftovers") b. Check for instances left running in EC2

  %p
    When using a development version of Aeolus, always remember to check the
    AWS Management Console for instances left running in EC2.

  %p
    It's rare for this to happen, but better safe than sorry:

  %p
    &nbsp;&nbsp;&nbsp;
    %img{ :src => "images/getting_started/ec2_instance_clean_up.png",
          :title => "Check AWS for EC2 instances left running",
          :alt => "Check AWS for EC2 instances left running" }

%br

%a.button{ :href => "cleaning_up.html", :title => "Cleaning up" }
  Cleaning Up
  %img{:src => "images/button-right.png", :alt => "→"}
