$screenfont: "Liberation Sans", Helvetica, Sans-serif
$headlinefont: Overpass, Sans-serif

$aeblue1: #025d8c
$aeblue2: #107fc9
$aeblue3: #0a93fc
$aeblue4: #73c2ff
$aeblue5: #edf7ff
$aeblue6: #007eb5
$aeheadlines: #107fc9
$aegrey: #ccd4d7

@import mixins.sass

body
  margin: 0
  padding: 0
  font:  13px/1.5 $screenfont
  background: url(../images/page-bg.png) no-repeat center top
  background-size: 100%

a
  color: $aeblue3
  img
    border: 0

h1,h2,h3,h4,h5,.headline
  font-family: $headlinefont
h1
  text-transform: uppercase
  font-weight: normal
  font-size: 150%
h2
  color: $aeheadlines
  font-weight: normal
  font-size: 140%
h3
  font-size: 130%
h4
  font-size: 120%
h5
  font-size: 110%
h6
  font-size: 100%

h2:first-child,h3:first-child,h4:first-child
  margin-top: 0

input[type='text'], input[type='search'], textarea
  border: 1px solid darken($aegrey, 20%)
  margin: 0 0 .5em 0
  @include border-radius(3px)
  background: -moz-linear-gradient(top, lighten($aegrey, 10%), #fff 10px, #fff)
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(lighten($aegrey,10%)), to(#fff), color-stop(.2,#fff))
  padding: 4px
  &:focus
    outline: none
    border: 2px solid $aeblue4
    padding: 3px
    background: -moz-linear-gradient(top, lighten($aeblue4,20%), #fff 10px, #fff)
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(lighten($aeblue4,20%)), to(#fff), color-stop(.2,#fff))

img.graph
  display: block
  width: 767px
  margin: 1em auto 2em

table
  caption-side: bottom

  caption
    padding-left: 1.5em
    text-align: left
    font-style: italic

  pre
    margin-top: 0

hr.shade
  position: absolute
  display: block
  top: 0
  left: 0
  right: 0
  height: 4px
  background: url(../images/hr-shade.png) repeat-x 0 0
  margin: 0
  padding: 0
  border: 0

#header
  background: #f3f8fb url(../images/header-bg.jpg) no-repeat top center
  border-bottom: 2px solid $aegrey
  height: 47px

  a
    text-decoration: none
  img
    vertical-align: middle
  .logo
    display: block
    float: left
    margin: 4px -8px 0

  img.divider
    display: block
    float: left
    margin-top: 2px
    margin-left: 23px

  .tagline
    display: block
    float: left
    margin: 9px 12px 0
    font-size: 150%
    color: $aeblue1

#cse-search-box
  position: relative
  margin: 9px 0 0
  #q
    margin: 1px
    padding: 4px 8px
    position: absolute
    top: 0
    right: 0
    height: 19px
    @include border-radius(15px)
    &:focus
      margin: 0px
      padding: 4px 8px

  #sa
    display: block
    position: absolute
    margin: 0
    padding: 0
    text-indent: -200em
    @include no-box-shadow()
    width: 16px
    height: 16px
    right: 8px
    top: 8px
    background: transparent url(../images/search-icon.png) no-repeat 0 0

#navigation
  background: #bfdbe8 url(../images/splash-bg.jpg) no-repeat center -20px
  background-size: cover
  min-height: 38px
  clear: both

  a
    text-decoration: none
    display: inline-block
    font: normal 120%/1.5 $headlinefont
    color: #fff
    @include text-shadow(0,1px,0,$aeblue2)
    margin: 0
    padding: 8px 12px 7px
    text-transform: uppercase
    &:hover
      color: $aeblue1
      @include text-shadow(0,1px,0, rgba(255,255,255,0.5))
      border-bottom: 4px solid #fff
      padding: 8px 12px 3px

#front-page-main-upper
  position: relative
  background: #bfdbe8 url(../images/splash-bg.jpg) no-repeat top center
  background-size: cover
  color: #fff
  height: 277px
  border-bottom: 4px solid lighten($aegrey, 10%)

  h1
    margin: 40px 0 0
    font-size: 300%
    font-weight: bold
    color: #fff
    @include text-shadow(0,1px,1px,$aeblue1)
    letter-spacing: .2em

  sup
    font-size: 30%
    letter-spacing: 0
    margin-left: -10px

  h2
    font-size: 200%
    margin: 0
    color: $aeblue1
    @include text-shadow(0,1px,0, rgba(255,255,255,0.5))

  a
    text-decoration: none

  .logo
    width: 260px
    height: 260px
    margin-top: 28px

  .frontpagebuttons
    text-align: right

    .button
      margin-left: 10px

#front-page-main-lower
  clear: both
  padding-bottom: 2em

  h1
    color: $aeblue6
    font-weight: normal
    text-transform: none

    b
      color: black

  img.heading
    margin-top: 0.8em
    margin-bottom: 0.8em

.button, input[type='submit']
  display: inline-block
  border: none
  background-color: $aeblue2
  background-image: url(../images/button-tex2.png)
  background-repeat: no-repeat
  background-position: center 1px
  background: url(../images/button-tex2.png) no-repeat center 1px, -moz-linear-gradient(top, lighten($aeblue2,10%), $aeblue2 70%, darken($aeblue2,10%))
  background: url(../images/button-tex2.png) no-repeat center 1px, -webkit-gradient(linear, 0% 0%, 0% 100%, from(lighten($aeblue2,10%)), to(darken($aeblue2,10%)), color-stop(.7,$aeblue2))
  background-size: 100% 100%
  cursor: pointer

  color: #fff
  text-transform: uppercase
  padding: 10px 25px
  font-family: $headlinefont
  font-weight: bold
  font-size: 110%
  @include box-shadow(0,1px,2px,rgba(0,0,0,0.7))
  @include text-shadow(0,-1px,0,rgba(0,0,0,0.4))
  @include border-radius(5px)
  text-decoration: none
  &:hover
    background-color: lighten($aeblue2, 10%)
    background: url(../images/button-tex2.png) no-repeat center 1px, -moz-linear-gradient(top, lighten($aeblue2,20%), lighten($aeblue2,10%) 70%, darken($aeblue2,10%))
    background: url(../images/button-tex2.png) no-repeat center 1px, -webkit-gradient(linear, 0% 0%, 0% 100%, from(lighten($aeblue2,20%)), to(darken($aeblue2,10%)), color-stop(.7,lighten($aeblue2,10%)))
    background-size: 100% 100%
  &:active
    background: $aeblue1
    @include gradient-bg-linear(darken($aeblue2,10%),lighten($aeblue2,10%))
    @include no-box-shadow()
    @include text-shadow(0,0,0,rgba(0,0,0,0))

  img
    display: inline-block
    vertical-align: middle
    margin: 0 -10px 0 10px

.button.small, input[type='submit']
  font-size: 90%
  padding: 6px 20px

#main
  margin-bottom: 2em
  p
    img
      max-width: 100%

#footer
  position: relative
  background: #e0eef4 url(../images/footer-bg.jpg) no-repeat top center
  clear: both
  min-height: 300px
  font-size: 95%
  padding: 4em 0 2em 0

  a.logo
    display: block
    position: absolute
    right: 0
    bottom: 0
    z-index: 2

  #navigationbg
    position: absolute
    background: rgba(255,255,255, 0.3)
    @include border-radius(5px)
    @include box-shadow(0,2px,3px,rgba(0,0,0,0.2))
    border-top: 6px solid rgba(0,0,0,0.1)
    z-index: 1
    width: 1000px
    height: 252px
    top: 56px
    left: 50%
    margin-left: -500px

  .navigation
    position: relative
    z-index: 2
    padding-top: 2em

  dt
    margin-bottom: 4px

    a
      font-family: $headlinefont
      font-weight: bold
      text-transform: uppercase
      color: darken($aegrey, 20%)
      &:hover
        text-decoration: underline
        color: $aeblue1

  dd
    margin-left: 0px
    margin-top: 1px

  a
    text-decoration: none

  a:hover
    text-decoration: underline

#footer.fixed
  position: absolute
  bottom: 0
  left: 0
  right: 0

#copyright


  .line2
    margin-top: 2px

  a
    font: 11px Arial, sans-serif

/* CSS specific to the Aeolus team list table */
.team-table
  width: 100%
  margin: 0 auto
  border-collapse: separate
  border-spacing: 0
  text-shadow: 0 1px 0 #fff

  td
    height: 50px
    padding: 0 15px
    border-bottom: 1px solid #cdcdcd
    box-shadow: 0 1px 0 white
    -moz-box-shadow: 0 1px 0 white
    -webkit-box-shadow: 0 1px 0 white
    white-space: nowrap
    text-align: center

  thead td
    font: bold 1.3em 'trebuchet MS', 'Lucida Sans', Arial
    -moz-border-radius-topright: 10px
    -moz-border-radius-topleft: 10px
    border-top-right-radius: 10px
    border-top-left-radius: 10px
    border-top: 1px solid #eaeaea

  tbody td
    text-align: center
    font: normal 12px Verdana, Arial, Helvetica
    width: 100px

  td:first-child
    background: #d8e9f1
    background: rgba(216,233,241,1.0)
    border-right: 1px solid white

  td:nth-child(3), td:nth-child(5), td:nth-child(7)
    background: #efefef
    background: rgba(144,144,144,0.15)
    border-right: 1px solid white

  td:nth-child(2), td:nth-child(4), td:nth-child(6), td:nth-child(8)
    background: #ffffff
    background: rgba(200,200,200,0.15)
    border-right: 1px solid white

  td:nth-child(6)
    background: #d8e9f1
    background: rgba(216,233,241,1.0)

  tfoot td
    -moz-border-radius-bottomright: 10px
    -moz-border-radius-bottomleft: 10px
    border-bottom-right-radius: 10px
    border-bottom-left-radius: 10px
    border-bottom: 1px solid #dadada
    font-style: normal

  tfoot td:first-child
    border-bottom: none

/* CSS specific to the main content area */
.section-grouping
  background: $aeblue5
  padding: 1em 1em 0.5em
  border-top: 1px solid #eaeaea
  border-bottom: 1px solid #dadada
  @include border-radius(10px)

  pre
    background: #666
    color: #fff
    @include border-radius(5px)
    margin-left: 1em
    margin-bottom: 0.5em
    padding: 1em
    overflow-x: auto

.news
  a
    color: black
    text-decoration: none
    &:hover
      color: $aeblue2

.page-listing
  width: 33%
  background: #fff
  @include gradient-bg-linear(#fff,lighten($aegrey,10%))
  padding: 1em 1em 0
  border: 1px solid $aegrey
  float: right
  @include box-shadow(0,2px, 2px, rgba(0,0,0,0.4))
  margin-left: 2em
  @include border-radius(10px)

#trademark
  font: 11px Arial, sans-serif

.note
  background: #a3f2b0
  background: rgba(163,242,176,0.8)
  padding-top: 0em
  padding-left: 1em
  padding-right: 1em
  padding-bottom: 0em
  -moz-border-radius-topright: 10px
  -moz-border-radius-topleft: 10px
  border-top-right-radius: 10px
  border-top-left-radius: 10px
  border-top: 1px solid #eaeaea
  -moz-border-radius-bottomright: 10px
  -moz-border-radius-bottomleft: 10px
  border-bottom-right-radius: 10px
  border-bottom-left-radius: 10px
  border-bottom: 1px solid #dadada

.warning
  background: #f15d5e
  background: rgba(241,93,94,0.8)
  padding-top: 1em
  padding-left: 1em
  padding-right: 1em
  padding-bottom: 0em
  -moz-border-radius-topright: 10px
  -moz-border-radius-topleft: 10px
  border-top-right-radius: 10px
  border-top-left-radius: 10px
  border-top: 1px solid #eaeaea
  -moz-border-radius-bottomright: 10px
  -moz-border-radius-bottomleft: 10px
  border-bottom-right-radius: 10px
  border-bottom-left-radius: 10px
  border-bottom: 1px solid #dadada

.whitehref
  color: white
  text-decoration: none
  border-bottom: 1px dotted
