#!/usr/bin/env ruby

# A few helpful tips about the Rules file:
#
# * The string given to #compile and #route are matching patterns for
#   identifiers--not for paths. Therefore, you can’t match on extension.
#
# * The order of rules is important: for each item, only the first matching
#   rule is applied.
#
# * Item identifiers start and end with a slash (e.g. “/about/” for the file
#   “content/about.html”). To select all children, grandchildren, … of an
#   item, use the pattern “/about/*/”; “/about/*” will also select the parent,
#   because “*” matches zero or more characters.

compile '*' do
  if item.binary?
    # don’t filter binary items
  elsif item[:extension] == 'md'
    filter :kramdown
    layout 'default'
    filter :relativize_paths, :type => :html
  elsif item[:extension] == 'scss'
    # scss files are sass
    # (don't use nanoc with haml 3.0.x series gem - known to be broken!)
    # (yes, this means the gem webby needs in order to work. :( )
    filter :sass
    filter :relativize_paths, :type => :css
  else
    filter :haml
    layout 'default'
    filter :relativize_paths, :type => :html
  end
end

route '*' do
  if item.binary?
    # Write item with identifier /foo/ to /foo.ext
    item.identifier.chop + '.' + item[:extension]
  elsif item[:extension] == 'scss'
    # Write out scss files with a 'css' extension
    item.identifier.chop + '.' + 'css'
  else
    # Debugging code
    #puts 'Item filename: ' + item[:filename] + '  Item identifier: ' + item.identifier

    # The index.html files need special handling, else nanoc barfs
    if item[:filename] =~ /index.haml$/
      item.identifier + 'index.html'
    else
      # Write out haml files with a flat dir structure
      item.identifier.chop + '.' + 'html'
    end
  end
end

layout 'default', :haml
